[2016-12-14 15:40] acoburn commented on #460
Here's what I do -- put this in the `log4j.properties` file:

[code]

You can set the location of that log4j.properties file like so: `JAVA_OPTS="${JAVA_OPTS} -Dlog4j.configuration=/etc/tomcat/log4j.properties"` (unless you have something else that overrides that location, such as fuseki, in which case you can just add the above to `$FUSEKI_HOME/log4j.properties`)

[2016-12-14 15:42] #461 closed

[2016-12-14 15:44] dannylamb commented on #461
@ruebot I looked through the whole issue queue and missed that.  I need sleep... or coffee...

[2016-12-14 15:53] dannylamb commented on #458
I'm going to attempt the fix outlined in https://bugs.launchpad.net/ubuntu/+source/tomcat7/+bug/1232258

[code]

[2016-12-14 17:32] dannylamb commented on #458
PR is up! https://github.com/Islandora-CLAW/CLAW/pull/462

[2016-12-14 17:32] dannylamb commented on #459
This is also resolved with https://github.com/Islandora-CLAW/CLAW/pull/462

[2016-12-14 19:13] dannylamb commented on #458
bah.... perms are getting set incorrectly further downstream...  tested in isolation, (e.g. just the fcrepo.sh script), everything works fine.  but full install shows this still fails.

[2016-12-14 20:41] #458 closed

[2016-12-14 20:42] DiegoPino commented on #459
Fixed via https://github.com/Islandora-CLAW/CLAW/commit/876d44b7984fdb283d0493e037309623b106fb83

[2016-12-14 20:42] #459 closed

[2016-12-14 20:42] DiegoPino commented on #458
Fixed via https://github.com/Islandora-CLAW/CLAW/commit/876d44b7984fdb283d0493e037309623b106fb83

[2016-12-15 15:52] #450 closed

[2016-12-15 16:05] dannylamb opened #463 "Travis tests are failing for islandora repo"
https://travis-ci.org/Islandora-CLAW/islandora/jobs/184279416

It requires some very minor coding standard fixes.
[code]

[2016-12-15 16:10] dannylamb opened #464 "Slice an Alpaca release"
Another long overdue date with destiny for me.  Once #448 lands, I need to go through the hoops to crank out a release so I can start doing it more often.   I will surely be bugging @ruebot for help on this, since he's the one who did it before.

[2016-12-15 16:56] bryjbrown opened #465 "SHACL use cases"
[SHACL](https://www.w3.org/TR/shacl/) could be potentially useful for certain purposes in CLAW. While there's no current PHP implementation, let's explore possible use cases for SHACL.

***

| Title (Goal)  | SHACL for metadata form import/export format                            |
--------------- |------------------------------------                           |
| Primary Actor | Repository archit

[2016-12-15 21:15] dannylamb commented on #465
@bryjbrown Your first use case is already provided by Drupal form modes.  See https://www.drupal.org/docs/8/api/entity-api/display-modes-view-modes-and-form-modes

[2016-12-16 15:32] dannylamb opened #466 "Add ActiveMQ to islandora repo's travis install"
We'll need to do some basic integration tests with publishing to a message broker from Drupal.  We're sticking to ActiveMQ as a default, so let's add it to the travis script and start it up.

Install instructions are here: http://activemq.apache.org/installation.html

[2016-12-16 15:51] dannylamb opened #467 "Create a MessagePublisher service"
Depends on #466

We need to create a service to publish messages from Drupal.  It should have a basic interface
[code]

Our implementation class should use STOMP, and will essentially look like this:
[code]

We'll need to write a Kernel test for this service, pulling it out of the dependency injection container, publishing a message with our `publish` function, and then reading from the queue to s

[2016-12-16 17:32] dannylamb opened #468 "Create a RulesAction to publish messages to our Camel Broadcaster"
Depends on #448, #466, and #467

We need a rules action that will accept the message from our EventGenerator actions and allow users to enter multiple queues into a UI for broadcasting.  The annotation will look something like this:
[code]

Combine the array received by recipients into a comma separated list, and insert it as the `IslandoraBroadcastRecipients` header.  Using the publishing service

[2016-12-16 18:08] dannylamb commented on #466
Oh, I can just use apt!

[2016-12-16 18:29] dannylamb commented on #466
PR is up https://github.com/Islandora-CLAW/islandora/pull/24

[2016-12-16 18:59] dannylamb commented on #466
Oh ho ho... no you can't use apt.  Well, not like how you'd expect: https://docs.travis-ci.com/user/installing-dependencies/#Installing-Packages-on-Container-Based-Infrastructure

[2016-12-16 20:21] dannylamb opened #469 "Tests be failin'"
Islandora repos tests be failin'

Some bad code standards stuff got reverted with some horrible git mismanagement by yours truly.  Sorry about that.  Let me fix it for you.

[2016-12-16 20:25] dannylamb commented on #469
PR is up https://github.com/Islandora-CLAW/islandora/pull/25

[2016-12-16 20:32] #469 closed

[2016-12-16 21:26] dannylamb commented on #466
@Islandora-CLAW/committers This PR is FINALLY PASSING.  Had some serious hoops to jump through with a PECL install and some pipes.  This is ready for review.

[2016-12-16 22:07] #466 closed

[2016-12-19 15:27] ruebot opened #470 "Update "Alpaca Release Process" to use Gradle instead of Maven"
The [Alpaca Release Process](https://github.com/Islandora-CLAW/Alpaca/wiki/Alpaca-Release-Process) is geared toward Maven, and since https://github.com/Islandora-CLAW/Alpaca/pull/16 we've moved to Gradle. So, we need to update our release documentation to reflect that.

[2016-12-19 17:24] dannylamb commented on #455
For posterity, there was an IRC conversation about this, and we decided to move forward with putting Java onto a PHP box, since LAMP is trickier to install via travis than just Java.

[2016-12-19 18:33] #344 closed

[2016-12-20 02:35] dannylamb commented on #455
@ruebot Why are we bound to 12.04?  I don't like the thought of being two LTS's behind if it can be avoided.

[2016-12-20 02:48] dannylamb commented on #455
hunh, apparantly like this:
[code]
totally out of scope for this, but good to know.

[2016-12-20 14:36] dannylamb commented on #455
you didn't have to.  but as long as there's no explosions, i don't mind ;)

[2016-12-20 14:39] #455 closed

[2016-12-20 16:57] #448 closed

[2016-12-20 18:25] dannylamb commented on #467
I'll tackle this one for some pre-Xmas fun.

[2016-12-21 15:13] acoburn commented on #470
@ruebot it's very easy, I can walk you through the steps. (It's way easier than with maven)

[2016-12-21 15:56] ruebot opened #471 "Add javadocs deploy to Alpaca build"
Gradle version of https://github.com/Islandora-CLAW/CLAW/issues/344

From irc:

[code]

[2016-12-21 17:05] dannylamb opened #472 "Make FedoraResource's 'fedora_has_parent' field single valued."
Change the base field definition for `fedora_has_parent` to allow only single values.  This will guarantee we have a tree.

You'll have to touch up the functions for getting and setting the parent and parent id to accommodate a single value.

[2016-12-21 17:07] whikloj commented on #472
@dannylamb This is not currently possible.
https://www.drupal.org/node/1869574

[2016-12-21 17:11] dannylamb commented on #472
Whaaaaaa?

Terrible....

[2016-12-21 17:11] #472 closed

[2016-12-21 17:37] #443 closed

[2016-12-22 14:31] #471 closed

[2016-12-22 14:46] whikloj commented on #397
PR - https://github.com/Islandora-CLAW/islandora/pull/26

[2016-12-22 14:47] whikloj opened #473 "Enable Islandora Collection fields display by default"
We add two fields when installing the Islandora Collection bundle. These are "description" and "memberof", but these are disabled by default. We should enable them to ensure they don't get missed.

[2017-01-03 13:47] #444 closed

[2017-01-03 14:29] dannylamb opened #474 "Use Composer to install Drupal, Drush, and Drupal Console"
Fork this to the CLAW organization: https://github.com/drupal-composer/drupal-project

Update it to point at the github repos we have for islandora modules until we can properly get on packagist and eventually drupal.org.

Then use it to install drupal, drush, and drupal console in one fell swoop.

[2017-01-03 14:39] dannylamb opened #475 "Break apart github repos for islandora modules"
Composer works with a 'package per github repo' fashion, so let's break them apart.  Use the git subtree command to preserve history on the `islandora_collection` module and pull it into its own repo.  Also, move the contents of the remaining `islandora` folder to the top level of the repository.

[2017-01-03 14:42] dannylamb commented on #475
Sadly, yes it would.  I'm not happy about it.

[2017-01-03 14:44] dannylamb commented on #475
np

[2017-01-03 14:56] dannylamb commented on #475
https://github.com/Islandora-CLAW/CLAW/issues/475

[2017-01-03 14:57] dannylamb commented on #475
https://github.com/dannylamb/islandora_collection

[2017-01-03 14:58] dannylamb commented on #475
https://github.com/DiegoPino/claw-jsonld/pull/2

[2017-01-03 15:00] dannylamb commented on #467
So.... turns out the php stomp pecl extension is not supported in php7.  So I need to use this: https://github.com/stomp-php/stomp-php.  Which is good.  It knows to block until a message has been received and handles things a bit nicer.  But it's on packagist.  So we need to start using composer, which leads to a lot of big changes.  Like https://github.com/Islandora-CLAW/CLAW/issues/474 and https

[2017-01-03 15:01] dannylamb commented on #467
So I can close this and will just re-assign the broadcast action issue to mysef: #468

[2017-01-03 15:01] #467 closed

[2017-01-03 15:09] dannylamb commented on #474
I have access now.  Thx @ruebot.

[2017-01-03 15:09] dannylamb commented on #474
https://github.com/Islandora-CLAW/drupal-project/pull/1

Install PR is coming up shortly.

[2017-01-03 19:59] DiegoPino commented on #475
@dannylamb @ruebot. To add to the discussion tomorrow some alternatives we discussed via other media.

* https://packagist.org/packages/mile23/drupal-merge-plugin
This plugin searches for composer.json files in user contributed modules and tries to satisfy it's dependencies. Does not require that we transform or move all modules or whole drupal to composer.
* Make this just an install task, withou

[2017-01-04 15:31] dannylamb commented on #475
@DiegoPino Yes, there are other ways of installing the requirement for stomp-php that do not involve breaking up the repositories.  I'm proposing this restructuring to get something potentially very costly and time consuming out of the way early before we start collecting more modules.

@ruebot The real concern for me is what this shift means for our yet to be defined release process.

[2017-01-04 20:20] uconnjeustis commented on #396
On the Islandora Metadata Interest Group, a [discussion ](https://github.com/islandora-interest-groups/Islandora-Metadata-Interest-Group/issues/38) was started on OAI-PMH support. In addition to some wanted features, the idea of namespaces came up. Our use case is different from that of @rosiel and wanted to add it here.

| Use Type  | Description  |
| ------------- | ------------- |
| Title (Goal

[2017-01-04 20:28] ajs6f commented on #396
Not a CLAW-specific issue, either. Might be worth bringing up on a Fedora call-- some documentation of best practices would be good.

[2017-01-05 16:15] dannylamb commented on #470
https://github.com/Islandora-CLAW/Alpaca/pull/25 is to add something that makes sure our features and our artifacts versions line up properly.

[2017-01-05 19:28] ruebot opened #477 "Test fcrepo 4.7.1 release candidate"
Test the fcrepo 4.7.1 release candidate in CLAW vagrant, and update [release testing page](https://wiki.duraspace.org/display/FF/Release+Testing+-+4.7.1).

@Islandora-CLAW/committers are there any specific items you would like to see in that testing page? Looking at the Hydra portion, they have a couple of their application listed. Do we want it broken out further on our end?

[2017-01-05 22:24] #470 closed

[2017-01-06 02:24] #464 closed

[2017-01-06 14:13] acoburn commented on #470
I added one last piece to this, which I forgot to mention yesterday:

https://github.com/Islandora-CLAW/Alpaca/wiki/Alpaca-Release-Process/_compare/49c28942385310aba5ae6c7b9b490efd1d39f35d...3ce68a1e149234ecfbc13a1f959fb6cdbd44dada

It would be easiest if @dannylamb performs those steps, since the `./docs/0.1.0` data already exists in his clone. You can make it into a pull request, but I always se

[2017-01-06 14:31] dannylamb commented on #477
We're not wired up to do any real integration tests yet, so I'd just poke at the install procedure and look at basic actions.

[2017-01-06 14:33] dannylamb commented on #470
@acoburn thanks.  i just pushed it up directly.

[2017-01-06 17:12] DonRichards commented on #306
Hi @ruebot I've been doing some research into this for other projects. While looking into a continuous security integration to validate the security posture for non-infrastructure software through Travis continuous integration pipeline I've come across a few options. These could be easy enough to implement and quick to code.

ISIG is already developing this security posture. Does CLAW want to rely

[2017-01-06 17:23] DonRichards commented on #306
Overall security plan and assessment of what is important to a check (vulnerabilities, injection, code standards, etc.).

Knowing what is import help develop the scope for testing. If we start with a catch all we could end up test for DDOS attack issues when that is outside the scope of our stack.

[2017-01-06 19:37] uconnjeustis opened #478 "Ability to distinguish different types of content and content that belongs to different institutions"
This use case is slightly out of scope from [Islandora-CLAW/CLAW#396](https://github.com/Islandora-CLAW/CLAW/issues/396). This use case was moved to this new issue.
---
On the Islandora Metadata Interest Group, a [discussion ](https://github.com/islandora-interest-groups/Islandora-Metadata-Interest-Group/issues/38) was started on OAI-PMH support. In addition to some wanted features, the idea of na

[2017-01-06 19:39] uconnjeustis commented on #396
My use case as it's slightly different though related to this issue is now in a [Islandora-CLAW/CLAW-478](https://github.com/Islandora-CLAW/CLAW/issues/478). Please direct responses there. Thanks

[2017-01-06 19:39] ajs6f commented on #396
@uconnjeustis ++

[2017-01-06 19:40] ajs6f commented on #478
Is this addressable via LDP containment? If so, that would be the most natural idiom.

[2017-01-06 20:50] DonRichards commented on #306
* Does not differ much if at all.
* I'm willing to create a submodule to accomplish this via spinning up a VM in travis and test.
* Committing to create a starting  point to automate the testing, document how to make additions
* MVP: The ability to restrict access to collections and/or individual resources across all representations (test restrictions work).

[2017-01-07 19:11] uconnjeustis commented on #478
We use namespaces to do this currently. What makes this easy is that we can identify in the PID quickly which institution is the content owner. For any sparql or SOLR queries, it's possible to filter by namespace which is great. Recently, I searched for OBJ size by namespace. This was to determine how much institutions had uploaded (of course only in terms of the lastest OBJ datastream size). Also

[2017-01-07 19:27] ajs6f commented on #478
This may not be a good solution for the long-term or large scale. It's better to use opaque identifiers. Wouldn't your needs be met by using a property the values of which would partition your repository by institution?

[2017-01-07 20:05] rosiel opened #479 "Use case: Practical need for a non-opaque identifier."
| Title (Goal)  | Pid's aren't great but they sure are useful to humans.                            |
--------------- |------------------------------------                           |
| Primary Actor | End user, Repository admin, architect, migration person, developer,...                          |
| Scope         | objects       |
| Level         | Medium?  |
| Story         | I need to identify

[2017-01-08 16:08] #477 closed

[2017-01-09 14:10] uconnjeustis commented on #478
@ajs6f What do you mean by property the values?

[2017-01-09 14:14] ajs6f commented on #478
...a property, the values of which.... (The values of that property) would partition...

[2017-01-09 14:15] acoburn commented on #478
I believe that what is meant is something like this -- resources each use opaque identifiers (a very good idea) but then have a property that points to the institution managing that resource (there may be a more appropriate property, but this is an example):

</ae5e022f87f74c9a717> dcterms:isPartOf <info:repository/uconn> .

and:

</c03825dc32fab94c439ca> dcterms:isPartOf <info:repository/amherst>

[2017-01-09 14:26] DiegoPino commented on #478
@acoburn i kinda like the idea of `<> dcterms:isPartOf <info:repository/amherst> .` wich really could be any object property depending on each use case but could be done also as simple as a data property (a.k.a a string) like flagging or tagging your resources. ` <> someont:inspaceof "amherst"  ` right?
For another use case:
What about using WebAC for the same purpose? AuthZ based alternative in a

[2017-01-09 17:20] DiegoPino commented on #479
@rosiel I think I understand your use case. It's all about the "linking" and in specific how do you refer a specific resource in Drupal 8.  This is a common use case I think, that can be provided by an external (even not Islandora specific) module.
So, drupal 8, by default one resolves "entities" against its primeray id (numeric, integers, remember the cosecutive numbering used for contents in dru

[2017-01-09 18:17] #439 closed

[2017-01-09 19:09] ajs6f commented on #478
Yeah, this is the idea (I'm not totally sure that `dcterms:isPartOf` is the best choice here, but that's not important). Either a property or LDP containment. The advantage of the LDP containment is that it is connected with authZ via WebAC. Then there isn't much need for a property.

[2017-01-09 21:17] uconnjeustis commented on #478
Thanks for the clarification @ajs6f and @acoburn. I could be way off on this but it seems that the LDP containment might be a better way to go. Or is it better to have this information in more than one place? I'm not sure someone would want to duplicate this information but just thought I ask the question anyway.

[2017-01-09 21:29] ajs6f commented on #478
I'd be inclined to LDP containment. We haven't worked out a complete scheme for multitenancy from the Fedora side, but I don't think there is much question that it will pivot on LDP.

[2017-01-09 21:29] ajs6f commented on #478
@ruebot Do you want to take this up on a CLAW call or too early?

[2017-01-09 21:31] acoburn commented on #478
+1 on using LDP containment. That will also be much easier to make work with WebAC.

[2017-01-09 22:15] whikloj commented on #477
I'll just add that as we are not using the microservices right now, there is nothing touching Fedora. So until we get Sync working we can probably avoid testing every Fedora that comes out.

[2017-01-10 04:21] #397 closed

[2017-01-10 04:45] dannylamb commented on #479
@rosiel I think the main point to convey is that right now from Drupal we have autoincrementing integer ids.  Which is significantly less cryptic than Fedora's default pid minter.  If that doesn't work for you, we'd need to setup some exploratory work to check out strings as canonical Drupal ids.  I know it's possible, but I've never attempted it.  It may work fine, or it may be a situation where

[2017-01-10 05:08] dannylamb commented on #478
@ajs6f We're going to have to figure out some basic multitenancy scheme for fedora at some point.  Both @rosiel's and this use case imply it.

And containment feels like a pretty natural way to attempt this.

And anyone can feel free to slap this onto the CLAW call agenda if they'd like.  I think it'll eventually bring us to the conundrum we've had around translating 'islandora:root' from Fedora 3

[2017-01-10 05:10] dannylamb commented on #473
Resolved with https://github.com/Islandora-CLAW/islandora/pull/26

[2017-01-10 05:10] #473 closed

[2017-01-10 05:10] #463 closed

[2017-01-10 12:47] rosiel commented on #479
Ok, thanks @DiegoPino @dannylamb. It sounds like the numerical Drupal ID could be a good solution to this use case.

If, for some reason, I have to access my object in the Fedora interface instead of using Islandora/Drupal (e.g. debugging something), would there be a way to query Fedora for the "object" (container?) that has a known Drupal ID? Put another way, is the Drupal ID in Fedora's triplest

[2017-01-10 12:52] rosiel commented on #478
The main difference that I see between a property vs. LDP containment is that you can have
[code]
But you probably can't have
[code]

LDP containment would therefore be more similar to the existing namespace method, and if it integrates with WebAC, all the better.

@dannylamb in this context what do you mean by "multitenancy"?

[2017-01-10 13:21] DiegoPino commented on #479
@rosiel the short answer is no. the drupal numerical id is not stored in fedora by us.
the longer answer is, if you need it, it could be. On the drupal side, everything mapped to an RDF property is saved to Fedora4 afterward. By mapping the internal, numerical, id (via a hook)  to an RDF property (one that makes sense for your needs), you would end having it available on Fedora4.

**But:** Fedora4

[2017-01-10 13:52] uconnjeustis commented on #478
The LDP does seem to be similar to the namespace method as it can distinguish content by institutions. Please forgive my ignorance... but to further distinguish different types of content within an institution, would it be possible to have something like...

</uconn/general/ae5e022f87f74c9a717>
</uconn/researchdata/ae5e022f87f74c9a717>
</uconn/univrecords/ae5e022f87f74c9a717>
</barnum/general/ae5e

[2017-01-10 14:07] ajs6f commented on #478
@uconnjeustis Yes, absolutely. That's just the sort of thing for which LDP is meant to be used.

@rosiel Careful-- you're wrong in that certainly can have resources in more than one container (via Direct and Indirect container action), but you're right that they can't have more than one URI in a given API instance. It's a bit confusing that way.

[2017-01-10 14:09] ajs6f commented on #479
What @DiegoPino says ("But: Fedora4 does not integrate search functionality at all.") is true, depending on how you think of Fedora. The repository itself does not offer any such functionality and is unlikely ever to so do. But it is easily integrated via [products officially supported by the Fedora community.](https://github.com/fcrepo4-exts/fcrepo-camel-toolbox)

[2017-01-10 14:11] DiegoPino commented on #479
@ajs6f that! What @ajs6f says++

[2017-01-10 14:19] ajs6f commented on #478
@uconnjeustis One point to consider-- if you want to make the best use of LDP for that kind of problem, try to stick to classifications/categorizations that have a partitioning quality; i.e. for which each resource belongs to one and only container. You can do more complicated things, certainly, but you start to slip towards a point of complexity for which you would do better to use a multivalued

[2017-01-10 19:07] dannylamb commented on #478
@rosiel I'm using 'multitenancy' to describe when more than one group/organzation is sharing a single Fedora.

[2017-01-10 20:02] DonRichards commented on #306
I am wondering if Codecov is enough to start with? It's already been integrated with some of the submodules.

[2017-01-11 14:44] dannylamb opened #480 "Prune install and submodules"
Remove the pdx and crayfish submodules from the CLAW repository and remove them from the install.  In the Vagrantfile, you should also remove the loris install instruction to save time since we're not at the point of using it yet.

[2017-01-11 14:46] dannylamb opened #481 "Pull install into its own github repo"
Our install code living alongside git submodules is wonky and misleading.  It pulls down the latest from github and ignores the submodule commits entirely.  We should pull our install folder into its own github repostory, claw_vagrant.

[2017-01-11 14:48] dannylamb opened #482 "Add an islandora_image module"
Use the drupal console to generate a module and a composer.json.  Give the module its license, readme, and contributing markdown files, which you can copy/paste from other repos.

[2017-01-11 14:50] dannylamb commented on #480
We keep the github repos.  But in CLAW, the submodule entries and install code for pdx and crayfish should be removed.  Loris's install code should stay, but the line in the Vagrantfile that calls our bash scripts should be removed.

[2017-01-11 14:54] dannylamb opened #483 "Add an 'Image' media bundle"
Depends on https://github.com/Islandora-CLAW/CLAW/issues/482

Create a media bundle for images, and export it into the islandora_image module.  Make sure it can accept tiff and jp2 images in addition to the usual png, jpg, bmp, etc...

[2017-01-11 19:04] kimpham54 opened #485 "RDF UI: Ability to load different ontologies"
| Title (Goal)  | RDF UI: Ability to load different ontologies  |
--------------- |------------------------------------                           |
| Primary Actor | Repository admin     |
| Scope         | access       |
| Level         | High for extending RDF UI  |
| Story         | As a repository admin, I would like to add RDF-based ontologies (including custom/local ones) to use through the

[2017-01-11 19:05] kimpham54 opened #486 "RDF UI: Provide a template configuration entity to map rdf"
| Title (Goal)  | RDF UI: Provide a template configuration entity to map rdf for additional modules    |
--------------- |------------------------------------                           |
| Primary Actor | Developer    |
| Scope         | architecture |
| Level         | Medium  |
| Story         | As a developer, when I develop a custom module that would install custom bundles/fields/ontologies, I

[2017-01-11 19:06] kimpham54 opened #487 "RDF UI: Map multiple ontologies to a field"
| Title (Goal)  | RDF UI: Map multiple properties to a field            |
--------------- |------------------------------------                           |
| Primary Actor | Repository admin     |
| Scope         | access       |
| Level         | Low  |
| Story         | As a repository admin, I want to be able to select multiple properties (including from different ontologies) to map to the same

[2017-01-11 19:06] kimpham54 opened #488 "RDF UI: Validating mappings/usage of ontologies"
| Title (Goal)  | RDF UI: Validating mappings/usage of ontologies |
--------------- |------------------------------------                           |
| Primary Actor | Repository admin    |
| Scope         | access  |
| Level         | Medium? |
| Story         | As a repository admin, when I am mapping fields in RDF, I want the system to impose restrictions on field assignment if it violates the

[2017-01-11 19:06] kimpham54 opened #489 "RDF UI: Ability to integrate linked data authorities/subjects/genres"
| Title (Goal)  | RDF UI: Ability to integrate linked data authorities/subjects/genres |
--------------- |------------------------------------                           |
| Primary Actor | Repository admin, user    |
| Scope         | access       |
| Level         | Low for now, but an important requirement for the future. Potentially out of scope for RDF UI |
| Story         | As a repository ad

[2017-01-11 19:10] ajs6f commented on #489
It would be nice to have a choice of UI/UX elements. E.g. autocomplete blanks for giant lists, select lists, maps might be best for geospatial vocabs, timelines for chronology vocabs, etc.

[2017-01-11 19:10] ajs6f commented on #489
👍

[2017-01-11 19:18] ddavis commented on #489
:+1:

[2017-01-11 20:06] dannylamb opened #490 "Add an 'Image Preservation Master' FedoraResource bundle"
Depends on #482 and #483

This will be our first real attempt to implement how NonRdfResources behave in Islandora.  The bundle should contain an entity reference field for the media it "describes" (in this case, an Image media bundle created in #483).  The display for the field in a form should be a basic inline_entity_form that allows a user to upload a new image.

You should provide a default r

[2017-01-11 20:10] dannylamb commented on #490
This is most likely more than one ticket's worth of work.  If someone wants to grab this, ping me and we'll whittle it down some.

[2017-01-11 20:16] dannylamb opened #491 "Create a BundleResolver service"
We need a service that receives a jsonld document as imput and returns the drupal bundle to create for it.  There are many ways to do this, so create an interface like
[code]
The function should return the bundle id (a string).

You should provide a default implementation that should do something simple, like check to see if each rdf:type in the jsonld is present in a bundle's list of classes.

Th

[2017-01-11 20:26] DiegoPino commented on #487
@kimpham54 just a quick update on this. I suppose this should state: "Map multiple properties coming from different ontologies to a field". Because the mapping that happens in Drupal 8 is field to property, not the whole ontology

[2017-01-11 20:27] DiegoPino commented on #488
Thanks for bringing this up. I feel this is very important. 👍

[2017-01-11 20:29] DiegoPino commented on #489
@kimpham54 @ajs6f @ddavis I will research field widgets and plugins functionality in Drupal 8 to generalize or at least try to, and propose a way of doing for this use case. Thanks

[2017-01-11 20:30] ajs6f commented on #489
@DiegoPino ++ !

[2017-01-11 20:58] kimpham54 commented on #487
@DiegoPino thanks, you're right! I made the fix

[2017-01-12 14:16] ajs6f commented on #491
It might be nice if the default implementation stored the mapping between type and bundle in the repository. This would allow for introspection. The LDP arrangement for this could be pretty simple.

[2017-01-12 14:16] dannylamb opened #493 "Create a ContextGenerator service"
We need a service that will receive a RdfMapping configuration entity and return a jsonld context.  The context should be taken to as much detail as possible, up to the point of removing namespaces, if possible.

The interface would be
[code]

It should just return the context as a string.  Persisting/caching the context is a separate issue.

Be sure to update islandora.services.yml.

[2017-01-12 14:23] dannylamb commented on #491
It would make this service trivial.

Is this similar to the much maligned predicate in Hydra that says which Rails model to instantiate?  How bad does that smell to you?  Maybe you could elaborate on the LDP arrangement?

[2017-01-12 14:37] ajs6f commented on #491
I don't know much about how Hydra works internally-- I lost interest once it became clear that Hydra uses Fedora like an RDBMS. But I think perhaps that that's the problem at which you are pointing? There's a big difference between a mapping between RDF type and partial behavior that gets stored somewhere outside the resource and a predicate to select a full behavior that gets mushed into the reso

[2017-01-12 14:40] ajs6f commented on #491
I don't have an immediate plan in mind for how to arrange a mapping like this in LDP-- the first thing I would want to do would be to look at what API-X is doing for similar purposes. Might be some common ground?

[2017-01-12 14:50] dannylamb commented on #491
@ajs6f I see.  You're saying store the mapping separately.  I mistakingly read "in the repository" as "on the resource".

[2017-01-12 15:02] ajs6f commented on #491
Yeah, it could be repowide or better, it could work like authz by respecting LDP containment.

[2017-01-12 15:32] kimpham54 commented on #482
I'd like to work on this, and document how to do it at the end.

[2017-01-12 15:53] ajs6f commented on #493
If RdfMapping contains essentially the same info as a JSON-LD context, would it be possible to actually use JSON-LD contexts as the mappings instead of having a new construct? (Just thinking out loud here, making sure I understand the problem.)

[2017-01-12 15:54] ajs6f commented on #493
I'm assuming that there is some kind of appropriate such type in Drupal-land.

[2017-01-12 16:10] DiegoPino commented on #493
@ajs6f I get you. JSON-LD context could be perfectly seen as the mapping, would depend on how are we constructing the JSON-LD context and how clever the mechanism is there to remove all not used(but declared namespaces) per bundle.

@daniel-dgi would this the opposite - revert- of this but exposed as a service?
https://github.com/Islandora-CLAW/claw-jsonld/commit/4168e9fb2d23542edc6527e1852d839dc3

[2017-01-12 17:43] dannylamb commented on #493
@DiegoPino I'm really just trying to separate the generating of jsonld from the generating of the context, and also (later) the storage/retrieval of the context and its usage.

This will re-introduce the creation of the context, but not every time an object is serialized as before Islandora-CLAW/claw-jsonld#1.  I plan on generating a context in response to write operations on rdf mappings and cach

[2017-01-12 17:46] DiegoPino commented on #493
@dannylamb cool, thanks.

[2017-01-12 17:58] dannylamb commented on #493
@ajs6f The RdfMapping configuration entity is core Drupal, used to put RDFa output in the html.  It carries all the same information we need for both this and #491.

They're configuration entities, which are queryable (to an extent) and yml serializable. @DiegoPino and I have been involved in discussions around a UI for manipulating these, since the one provided by the Drupal community is hard-wir

[2017-01-12 18:07] ajs6f commented on #493
Holy moly yes, from the SI POV the ability to deal with stuff other than schema.org is imperative. Mappings, yes, but also _framing_!

[2017-01-12 21:59] DonRichards commented on #306
Just think it's all part of Code quality

[2017-01-13 15:34] #480 closed

[2017-01-15 17:45] uconnjeustis commented on #489
In the Islandora Metadata Interest group, we were thinking it would be nice to have to top used authorities and vocabularies such as Linked LC, VIAF, AAT, TGM, FAST. Perhaps there's a way to offer something like a "package" such as the archival package or library package. I've seen with our consortium repository that the archives and libraries have their preferred set. For example, archives tends

[2017-01-15 17:50] uconnjeustis commented on #485
I like the idea of BIBFRAME. As the library world will move to BIBFRAME, I can see several institutions who might want this option in the future.

@mrmiguez also added these ontologies for consideration:
Europeana Data Model: [http://pro.europeana.eu/page/edm-documentation](http://pro.europeana.eu/page/edm-documentation)
DPLA MAPv4: [https://dp.la/info/developers/map/](https://dp.la/info/developer

[2017-01-16 14:04] ajs6f commented on #485
CIDOC-CRM in particular raises the question of managing internationalized vocabulary in a UI. Maybe best broken off as a separate ticket.

[2017-01-16 14:45] DiegoPino commented on #485
bibframe++, I guess we are thinking about version 2 right?https://www.loc.gov/bibframe/docs/bibframe2-model.html
I always loved the idea of the simplicity that classes that represent real human creative dimensions provide or how we, in fact, describe and see our past (agents, events, places, etc)

@ajs6f true about CIDOC-CRM

I see two different things here (and a third which is a mix of both): A)

[2017-01-16 14:48] ajs6f commented on #485
OMG PLEASE LET IT BE Bibframe 2. I just assumed that it was. The first attempt was a wide awake nightmare and should be banished from all sane minds forever.

[2017-01-16 14:53] ajs6f commented on #485
@DiegoPino CIDOC-CRM is very definitely successful. I'm not saying that it is well-documented, just that it _is_ in wide use globally. It has _much_ more uptake than Bibframe and that's not going to change-- Bibframe is of interest to a tiny community of bibliocentric cataloging librarians who are now manacled to MARC, CIDOC-CRM is of interest to a much larger community of communities (e.g. archiv

[2017-01-16 14:57] DiegoPino commented on #485
@ajs6f cool, wow about CIDOC-CRM, the docs are a living nightmare! I'm learning, slow and steady, thanks for the clarification, I do agree(well, i agree on everything) on bibframe2 being more "here" centric, as is MODS also. I thought DPLA stuff was more derived from Europeana one, being that more derived from ORE, etc. I learn so much from you! 👍

[2017-01-16 15:07] ajs6f commented on #485
No, no, I think you are right @DiegoPino -- it was EDM, directly. I spaced out on that. But notice that [EDM itself](view-source:http://www.europeana.eu/schemas/edm/rdf/edm.owl) imports the CIDOC-CRM namespace. So it's not a big difference either way.

[2017-01-17 21:01] dannylamb commented on #482
@kimpham54 I've assigned this to you. Here's a git repo to clone and issue a PR against: https://github.com/Islandora-CLAW/islandora_image

Let me know if you need help, but `drupal generate:module` should do the trick for you.

[2017-01-18 20:18] DiegoPino commented on #493
This will take me some days(like 5?). But I assigned it to myself and added a physical reminder to myself to be able to accomplish a working prototype on time. Will have probably a LOT of questions.

[2017-01-18 23:32] kimpham54 commented on #482
@dannylamb first attempt. is [this](https://github.com/kimpham54/islandora_image) something along the lines of what you're looking for?

[2017-01-19 14:23] dannylamb commented on #482
@kimpham54 looking through it now

[2017-01-19 14:35] dannylamb commented on #482
@kimpham54 Looks good.  Let me finish setting up some stuff on packagist, and we'll talk about the composer.json.  We need to add the islandora module as a dependency, and if you're documenting this, then I don't want you to get sucked into the github / oauth token sinkhole.  I'd rather have it just be packagist from the start.

When I know what to tell you I'll be in touch :D

[2017-01-19 15:08] dannylamb commented on #481
Resolved with https://github.com/Islandora-CLAW/CLAW/commit/9bb475ffe9c295771ba2487a9dca29f25ce40615 and https://github.com/Islandora-CLAW/claw_vagrant

[2017-01-19 15:08] #481 closed

[2017-01-19 16:13] dannylamb opened #497 "Remove vcs entries in all composer.json files"
All drupal repos (islandora, islandora_collection, claw-jsonld, and drupal-project) have vcs entries for github.  Now that we're on packagist, please remove those.  Simply requiring "dev-8.x-1.x" is sufficient.  This will require a PR per repo.

[2017-01-19 16:22] DiegoPino commented on #497
@dannylamb looking at this now, what will be the difference between https://packagist.org/packages/islandora/islandora#0.0.1 and
https://packagist.org/packages/islandora/islandora#dev-8.x-1.x
Are we still on semantic versioning?

[2017-01-19 16:27] dannylamb commented on #497
@DiegoPino dev-8.x-1.x pulls a tarball of master, and is what we want right now.  0.0.1 is just me messing around and testing the release process.  It's not legit.  The first version we actually slice off will be in the 8.x range.  I guess 8.1.1?  We seem to be skipping 8.0 altogether based on previous naming.

[2017-01-19 16:28] DiegoPino commented on #497
@dannylamb cool. Got confused with the 0.0.1. Thanks!

[2017-01-19 17:22] uconnjeustis opened #498 "Meta-Issue: OAI-PMH"
| Title (Goal)        |  OAI-PMH Harvest         |
| ------------- |:-------------:|
| Primary Actor      | developer, Repository Administrator |
| Scope     | access, configuration |
| Level | TBD      |
| Story | OAI-PMH harvests are used by many in the Islandora community to share metadata with other data aggregates such as DPLA, an institution's ILS, or another discovery system. The OAI-PMH ha

[2017-01-19 17:23] uconnjeustis opened #499 "Use Case: Practical Need for OAI-PMH Harvest Configurability"
| Title (Goal)        |  Configure OAI-PMH Harvest         |
| ------------- |:-------------:|
| Primary Actor      | Repository Administrator |
| Scope     | configuration |
| Level | TBD      |
| Story | As a repository administrator, I would like to have the same minimal functionality that is currently available with the Islandora OAI module. This configuration includes the ability for the repo

[2017-01-19 17:31] uconnjeustis opened #500 "Use Case: Need to Configure Data for OAI-PMH Harvests"
| Title (Goal)        |  Configure Data Package for OAI-PMH Harvest         |
| ------------- |:-------------:|
| Primary Actor      | Repository Administrator |
| Scope     | configuration |
| Level | TBD      |
| Story | As a repository administrator, I would like to be able to determine elements that form which data and how it is encoded for the OAI-PMH harvests.  The current functionality of 7

[2017-01-19 19:33] uconnjeustis opened #501 "Use case: OAI-PMH Deletion Support"
| Title (Goal)        |  Deletion Support for OAI-PMH Harvest         |
| ------------- |:-------------:|
| Primary Actor      | Repository Administrator |
| Scope     | configuration |
| Level | TBD      |
| Story | As a repository administrator, I would like the harvest to have deletion support. This helps with sharing data in terms of the type of options available to update the feed.  |

[2017-01-19 19:36] uconnjeustis opened #502 "Use Case: Ability to have sets for OAI-PMH Harvests"
| Title (Goal)        |  Option to create sets for OAI-PMH Harvest         |
| ------------- |:-------------:|
| Primary Actor      | Repository Administrator |
| Scope     | configuration |
| Level | TBD      |
| Story | As a repository administrator, I would like to have the ability to create sets for the harvest. For example, in a repository that is shared among institutions, we often get reque

[2017-01-20 14:23] whikloj commented on #475
@ruebot @dannylamb I think this is done, no?

[2017-01-20 14:25] whikloj commented on #474
@ruebot @dannylamb I think this is also finished. Can I close it?

[2017-01-20 14:28] whikloj commented on #491
I'll take this on, but I'm still not clear on what **context** refers to here.

If I send it a json-ld document, based on some mapping (possibly stored in the repo) I return the drupal bundle?

So would we also need a tool for setting those mappings?

[2017-01-20 14:31] whikloj commented on #491
After reading #493, perhaps I'll hold off and see what @DiegoPino does there first.

[2017-01-20 14:33] whikloj commented on #474
Resolved with various PRs referenced in this ticket

[2017-01-20 14:33] #474 closed

[2017-01-20 14:34] whikloj commented on #475
Resolved with various PRs referenced in this ticket and the new https://github.com/Islandora-CLAW/claw_vagrant repo

[2017-01-20 14:34] #475 closed

[2017-01-20 14:34] DiegoPino commented on #491
@whikloj go for it. We can then later sync stuff.  I wonder if

means actually return the bundle object or a string, a representation, a query, not sure.

[2017-01-20 14:39] whikloj commented on #449
Couple confirmation questions:
1. Java DSL or Spring DSL?
1. Gradle
1. Final list of routes supplied as a header, which header?

[2017-01-20 14:46] ajs6f commented on #449
This seems like it entirely overlapping with `fcrepo-camel-toolbox`. Is there a danger of duplicated effort here? If it's a question of synchronous workflow as opposed to asynchronous, @acoburn and I have already begun exploring thoughts about synchronous repository-driven workflows, but using the standardized repo services and not anything new.

[2017-01-20 14:58] whikloj commented on #449
@ajs6f I think this is far too simple to be part of `fcrepo-camel-toolbox`. This would be used to have end-users in Drupal decide which endpoints (out of a curated list) to send a request to. Those endpoints could be `fcrepo-camel-toolbox`, but more likely the API-X derivative service @acoburn is (apparently) working on.

[2017-01-20 14:58] dannylamb commented on #491
@DiegoPino

[2017-01-20 15:05] ajs6f commented on #449
I'm not asking about this exact piece of technology-- I'm asking about its uses. IOW, it's hard for me to imagine a use for this piece of work that wouldn't be better served as part of `-camel-toolbox`, but maybe I am misunderstanding the expected kinds of requests it would receive. Is the work here not going to fall under the general heading of "make and store derivatives"?

[2017-01-20 15:13] DiegoPino commented on #491
@dannylamb thanks for the clarification. So $bundle_id it is.  And now I have 3 mores questions:
1. What would be default response in case of no match? (see also question 2)
2. What happens if the JSON-LD received matches our islandora provided default bundle? e.g
https://github.com/Islandora-CLAW/islandora/blob/8.x-1.x/config/install/rdf.mapping.fedora_resource_type.rdf_source.yml
3. What happens

[2017-01-20 15:16] dannylamb commented on #449
@whikloj
1. Java
2. Gradle
3. With the broadcaster we used `IslandoraBroadcastRecipients`, so `IslandoraPipelineRecipients`?

@ajs6f Yes, the end result here could be used to create and store derivatives, or any other sequence of well defined asynchronous operations.  The long term goal for me (post MVP) is to provide config entities per asynchronous operation with nice descriptions and labels.  T

[2017-01-20 15:18] whikloj commented on #449
@ajs6f Oh I see what you mean, yes I guess this could fit in fcrepo-camel-toolbox. We could have the header name be configurable. What does @acoburn think of that...or is there maybe a feature already in existence?

[2017-01-20 15:25] dannylamb commented on #491
@DiegoPino
1. Throw an exception
2. Return that bundle
3. Return the first you find... and don't make ambiguous rdf mappings.  People who want to do more sophisticated things can always provide their own service.

[2017-01-20 15:28] ajs6f commented on #449
Yeah, that's where I was going, and to be clear, I'm not claiming that this is a sure thing for `-camel-toolbox`, just that it might be and we should have the conversation to which @dannylamb refers lest anyone do unneedful work. Not enough hours in the day to let that happen.

[2017-01-20 16:49] DiegoPino commented on #491
@whikloj so here is a hint http://json-ld.org/spec/latest/json-ld-framing/#framing-algorithm for this particular ticket:

as @ajs6f said here before and confirmed in IRC http://irclogs.islandora.ca/2017-01-20.html
JSON-LD framing is something we should think of, implement and enforce.
It would help a lot with our bundle-map-jsonld thing also and also make the notion of our resource typing/content

[2017-01-20 17:21] whikloj commented on #491
A discussion @DiegoPino and I had in IRC resulted in a suggested workflow of.

1. The BundleResolver creates a *frame* out of each entity bundle (and caches it).
2. The ContextResolver sends the entity using a matching framing algorithm.
3. The BundleResolver then does the comparison of the incoming entity *frame* to all the cached bundle *frames* to determine the correct entity bundle and outputs

[2017-01-20 17:42] whikloj commented on #491
Also and this is not super important (can be changed later). Should this be part of the islandora module, the json-ld module or a brand new module?

[2017-01-20 18:16] dannylamb commented on #491
My understanding of framing is that it is un-flattens a representation consistently, resulting in a guaranteed shape.  What would associating frames with bundles bring to the table over querying the already existing rdf mapping configuration?  It seems like we're conflating two very different operations here.

[2017-01-20 18:21] dannylamb commented on #449
@ajs6f At the end of the day, this is nothing more than a question of where do we deposit the work.  I'm not expecting the greater community to do that work for me.

[2017-01-20 18:22] ajs6f commented on #491
They're not the same thing-- what's being claimed is that if you have a consistent set of mappings but without any consistency in the framing, external non-semantic clients are not going to be able to make any use of the results. Also, there is a problem to be solved in selecting or more likely merging frames that are configured on a per-bundle basis that is not unconnected (to my eye) with the pr

[2017-01-20 18:26] ajs6f commented on #449
Sure, and where you deposit the work has a significant impact on how expensive it is and its future maintenance costs. This ticket might be developing new Camel gear, or it might be merely configuring Camel gear the maintenance of which is a shared expense. It's worth asking that question. I think we might easily overestimating the novelty of this need.

[2017-01-20 18:33] whikloj commented on #491
@dannylamb I'm not sure I understand the idea of framing in the more advanced way @ajs6f is describing.

For me, I was thinking simply that if we take an entity bundle which is a set of fields mapped to RDF. Then we *frame* it in to a guaranteed shape. It would make it easier to compare with the incoming json-ld (framed in the same shape).

But I could be missing whole swaths important information

[2017-01-20 18:34] ajs6f commented on #491
I am not talking about anything other than http://json-ld.org/spec/latest/json-ld-framing/ .

[2017-01-20 18:36] whikloj commented on #491
Ok, when you use words like "non-semantic clients", "merging frames" and "conversation" I start to get confused.

[2017-01-20 18:39] DiegoPino commented on #491
@ajs6f and @whikloj both are in sync: it is nothing more than having a better standpoint on to which JSON-LD comparision can be made, and the holes/etc be filled by a standard shape.
I guess the non-semantic client statement is related to the idea of "if the shape/framing matches and is expected and consistent", you are basically comparing arrays, which is good, no need to be semantic, ontology, e

[2017-01-20 18:43] ajs6f commented on #491
The problem this ticket is tackling is "We have RDF and we want to publish JSON." There are two pieces to that problem: what predicates to use and how to take a general graph and make it into a tree. The JSON-LD context is the first part of that, and framing is the second. This ticket can (probably should) be just about the first part, but I'm saying "Don't lose sight of the bigger picture because

[2017-01-20 18:46] ajs6f commented on #491
How about "semantic salmagundi"? :)

[2017-01-20 18:46] whikloj commented on #491
Thanks for that @ajs6f, however I don't think this ticket is around publishing JSON from RDF. I think it is around determining which Drupal bundle we want to create depending on the JSON-LD passed in.

[2017-01-20 18:47] ajs6f commented on #491
I guess I don't see how you do the two directions independently?

[2017-01-20 18:50] whikloj commented on #491
@ajs6f ok..yeah. This is why I had asked about

The "json-ld" module provides the serializer (https://github.com/Islandora-CLAW/claw-jsonld) that @DiegoPino wrote to turn Drupal entities in to JSON-LD. So perhaps this BundleResolver should be part of that interaction.

[2017-01-20 18:53] ajs6f commented on #491
I don't know enough to say anything useful about that decision, but I can say something (sort of) useful about how you make it: don't end up with two different ways to associate JSON-LD with bundles (and vice versa). That will give you no end of heartache.

[2017-01-20 18:54] whikloj commented on #491
So maybe this should be 2 services in the https://github.com/Islandora-CLAW/claw-jsonld module.

1. that will take a json-ld document and a frame and return the framed json-ld.
2. that will take 2 json-ld documents and compare them.

Then each bundle can have a frame definition as part of its configuration/code.

[2017-01-20 18:57] ajs6f commented on #491
To be clear, when I wrote "We have RDF and we want to publish JSON." that was a (not very clear) way of saying "We have RDF in a repo and the world around that repo wants JSON." I wasn't thinking of "publish" as particularly meaning "go from data in the repo to JSON to send to clients outside". It could just as well be "clients outside send JSON which has to become RDF inside the repo". In either

[2017-01-20 19:03] ajs6f commented on #491
I don't know what the impl details here are, but at least [some](https://github.com/digitalbazaar/php-json-ld) PHP libraries support contexts and framing themselves.

[2017-01-20 19:50] dannylamb commented on #482
@kimpham54 I've set up the repos for packagist, and now that we're on, we no longer require the `vcs` entries for github repositories in our `composer.json` files.  We only need to require dev-8.x-1.x.

Can you please add `"islandora_islandora": "dev-8.x-1.x"` to the requires section for this?

[2017-01-21 03:02] dannylamb opened #503 "JSONLD Framing"
Based on the conversation in #491, we need to have a larger discussion of how to best implement framing.

At this point, I see it to be similar to #493, where we'd need to generate a frame per bundle, based on the bundle's fields and rdf mapping.   As mentioned in the conversation, we'd still have to figure out how to resolve occurrences of multiple frames matching a single bundle.

[2017-01-21 04:10] dannylamb commented on #491
I certainly think framing is an issue worthy of its own ticket: #503

[2017-01-21 13:41] ajs6f commented on #503
There is another point to be considered-- if bundles can overlap (contain the same properties) then frames determined on a per-bundle basis could overlap (discuss the same properties) and possibly disagree and there will have to be either a deterministic way to resolve disputes (if the bundle registry is ordered, maybe first bundle wins?) or an acknowledgement that configs with overlapping frames

[2017-01-21 14:41] dannylamb commented on #491
After some more thought, since we're already planning on generating and caching contexts per bundle, and the context uri is provided in the representation, can we not use that uri to lookup a bundle? Just a simple association, one per bundle, with no conflicts.

[2017-01-21 14:53] ajs6f commented on #491
If there is but one context per bundle (if there's not going to be an idea of "different ways to write down the same properties") and if it's not going to be possible for two different bundles to use the same context, then that seems simple and sufficient.

[2017-01-23 15:49] dannylamb commented on #449
@ajs6f Fair enough.

[2017-01-23 16:20] ajs6f commented on #449
And having shoved my neck out, I'll bring the axe down by taking this ticket through the exploratory stage that I just vociferously demanded. I'll take responsibility for talking with @acoburn and determining what, if any, we can get done as part of the larger `-camel-toolbox` context and recording that (with any design notes) here. I don't mean by that to slow anyone down or confuse any schedulin

[2017-01-23 16:20] ajs6f commented on #449
I just don't want to basically come in here and say @whikloj, I demand that you work this ticket in the way that _I_ think is best. That's not cool.

[2017-01-23 16:39] acoburn commented on #449
Let me preface this by saying that I haven't thought this through in any sort of rigorous manner, but let me argue the other side for now, namely that such a pipeline should _not_ go into fcrepo-camel-toolbox.

  * First, the fcrepo-camel-toolbox release schedule is pretty slow, putting application-specific code there will make it harder to make application-specific changes. As a case in point, th

[2017-01-23 16:46] ajs6f commented on #449
@acoburn, this all makes sense-- but it's _exactly_ your third point/recommendation that is what I am suggesting here. I'm suggesting that either we find the generic pattern in `-camel-toolbox` or we offer it as a contribution to `-camel-toolbox` of the ilk of `fcrepo-ldpath`. (Like `fcrepo-simple-chained-configurable-workflow` or... maybe a better name.) Then the CLAW-specific stuff (e.g. dealing

[2017-01-23 16:48] acoburn commented on #449
@ajs6f if your suggestion here follows what I describe in the third point, then, yes, I would completely support that.

[2017-01-23 16:58] ajs6f commented on #449
@acoburn I _think_ that it does. The crucial question is: can we extract the generic pattern in this ticket as a contribution to `-camel-toolkit`? I _believe_ that we can. I _suspect_ that it is something like:

"Configure a chained series of simple (i.e. one Camel endpoint) steps, each feeding the next. This pipeline is fed by resources that change in the repository as they change, in the usual `

[2017-01-23 18:38] dannylamb commented on #468
@Islandora-CLAW/committers  https://github.com/Islandora-CLAW/islandora/pull/31 is up to resolve this issue.

[2017-01-23 19:45] dannylamb commented on #449
To go through @acoburn's points:
* The release cycle could turn into a real concern
* The specifics of it are that the endpoints are passed in as a header, which comes from a UI like in this PR I have going: https://github.com/Islandora-CLAW/islandora/pull/31.  You could always make the header configurable, but you could also just as easily put the endpoints in osgi config.
*  And I'll extend/laye

[2017-01-23 19:49] dannylamb commented on #449
@ajs6f To more directly answer the question you posed, that is pretty much exactly the long-term goal, except there's folks in the islandora audience who will want the derivative stored just in drupal, and not in fedora. That usually comes people with large binaries like video.

So that's a curveball from our end.

[2017-01-23 19:50] acoburn commented on #449
Here's a suggestion for moving forward, which is pretty much what @bseeger and I do at Amherst:

  1. Implement whatever you need to implement yourself in a CLAW-based repo. Our corollary at Amherst is https://gitlab.amherst.edu/acdc/repository-extension-services
  2. If there is a nugget in that implementation that could be extracted into a more general bit of code, push that into fcrepo-camel-to

[2017-01-23 20:09] ajs6f commented on #449
@acoburn Yes, that's the concrete MO. The reason I wanted to start this discussion earlier is to clarify whether there might _be_ such a nugget. It sounds like there is, so whoever is doing this ticket should have that in mind. First things first, the functionality has to work for CLAW, but it would be good to keep the longer term in mind.

[2017-01-23 21:41] dannylamb opened #504 "Add API-X to vagrant install"
Installation instructions are outlined here: https://github.com/fcrepo4-labs/fcrepo-api-x.

tl;dr  Run this from the karaf client and see what breaks.

[code]

[2017-01-24 14:09] acoburn commented on #504
Misspelling -- try `api-x`. I.e. `feature:repo-add mvn:org.fcrepo.apix/fcrepo-api-x-karaf/LATEST/xml/features`

You may also want to try using `0.1.0` instead of `LATEST`

[2017-01-24 14:12] acoburn commented on #504
@ruebot: just did: https://github.com/fcrepo4-labs/fcrepo-api-x/pull/104

[2017-01-24 15:51] Natkeeran commented on #436
@ruebot  Additional Notes:
* Adding ds3 (https://github.com/d3/d3/releases/tag/v4.4.4) to web/libraries/ds3 removes that warning
* Adding highlight lib from here - https://www.drupal.org/files/issues/highlight.zip removes that warning, Note that webprofiler expects highlight.pack.js not highlight.js.

Not sure if these libraries will go into https://github.com/Islandora-CLAW/drupal-project/blob/8.

[2017-01-24 21:19] dannylamb opened #505 "Regenerate contexts in response to rdf mapping updates"
An outcome from conversation in https://github.com/Islandora-CLAW/CLAW/issues/491
Depends on #493

Whenever an rdf mapping gets updated, we need to regenerate the context created with the service from #493.  This will eventually get served, but for now, just `dsm` out the context in response to an rdf mapping getting updated.

[2017-01-24 21:22] highermath commented on #360
thom8 has a beetbox-based D8 vagrant box at https://packagist.org/packages/thom8/drupal8-vagrant

It is dead simple to launch.

Requirements

- Composer
- Vagrant >= 1.8
- Virtualbox
- Vagrant Hostsupdater

Installation

Open terminal (or git bash for windows users) and run the following commands --

`composer create-project thom8/drupal8-vagrant drupal8-vagrant && cd $_`
`vagrant up`
Go to http:/

[2017-01-24 21:27] dannylamb opened #506 "Serve jsonld contexts"
Depends on #493 and #505

We need to serve the jsonld contexts generated by the service from #493.  When a rdf mapping is updated (see #505), we need to make its associated jsonld context available via http.  Its uri should looks something like `http://localhost/contexts/{bundle_id}.json`.  For example, if using a collection, the uri would be `http://localhost/contexts/collection.json`

The scope

[2017-01-24 22:33] Natkeeran commented on #436
@ruebot
Not sure where to put this in.  Does the creation of libraries go into https://github.com/Islandora-CLAW/claw_vagrant/blob/master/scripts/drupal.sh or here: https://github.com/Islandora-CLAW/drupal-project/blob/8.x-1.x/composer.json

Shell script to get these files into web/libraries.

[code]

Would have to test this bit further.  Currently, the folders are owned by root.

[2017-01-25 12:06] ruebot opened #507 "Alpaca build.gradle scm properties have Salmon in it"
https://github.com/Islandora-CLAW/Alpaca/blob/8635d8936646bc61e50f2c8affdfcbcc197bac77/build.gradle#L143-L148

@dannylamb s/Salmon/Alpaca/ right?

[2017-01-25 13:46] DiegoPino commented on #493
@dannylamb @whikloj i have a working "thing" for this now that should do the Job.
I hope my `@context` key naming -URI compacting- algorithm makes sense.
Will pull tonight kinda late (sorry) since today is office-away-diego-on-subway day and will be moving a lot. Will keep you updated.
By the way, the JSON-LD compaction from Fedora 4.71. you shared @whikloj yesterday is broken, which leads to a lo

[2017-01-25 13:49] dannylamb commented on #507
@ruebot Yes!

[2017-01-25 13:51] dannylamb commented on #493
@DiegoPino Great, just issue a PR when you feel it is ready.

Perhaps it would be good to report the compaction behaviour to @awoods?

[2017-01-25 13:54] DiegoPino commented on #493
@dannylamb

true. Will need a bit more background from @whikloj (ping, ping) to be able to replicate and report as 🐛

Thanks!

[2017-01-25 15:40] DiegoPino commented on #503
@ajs6f I would say context (not `@context` is everything) in the case of overlapping (bundles and in consequence frames) the questions important issue to solve is resource creation (even if that never happens on this part of the code) only creates a single resource.

let me explain myself with a simple pseudo-chained actions list

1. JSON-LD is passed to "Drupal Content type" or "BundleResolver" s

[2017-01-25 16:57] dannylamb commented on #503
@DiegoPino This is precisely why the bundle resolver is encapsulated as a service, so that different implementations can be provided as needs arise/change.

Although, from the sounds of it, you're envisioning this as a separate web service instead of just a Drupal service?  Or are you talking about POSTing to a create a resource?

Also, if frames are not 1:1 with bundles, then perhaps they are a p

[2017-01-25 19:04] whikloj commented on #482
@kimpham54 regarding @dannylamb's request above, is there any why I can help you with that?

[2017-01-25 19:18] bryjbrown opened #510 ""1.x to CLAW" explanatory document"
There's a huge conceptual leap between Islandora 1.x and CLAW. 1.x folks have lots of experience with the Fedora 3 way of thinking (cmodels, datastreams, solution packs, etc) but often hit a huge roadblock when they try to frame their ideas for CLAW using 1.x vocabulary and may feel discouraged.

In order to minimize discouragement and empower 1.x users to join the CLAW discussion, it would be gre

[2017-01-25 19:42] bryjbrown commented on #510
Here's a review of the existing documentation mentioned in the [Jan. 25 CLAW call](https://github.com/Islandora-CLAW/CLAW/wiki/January-25,-2017#1---claw-documentation).

* [CLAW for 1.x Users](http://islandora-claw.github.io/CLAW/user-documentation/2xfor1x/)
  * This is great! Pretty much exactly the idea I had in mind, but could be taken further. Seems like the most obvious point of entry.
  * I

[2017-01-25 19:48] DiegoPino commented on #510
@bryjbrown++ 😄 will review your proposal, but looks pretty good and totally needed.

[2017-01-25 19:51] whikloj commented on #510
I'll take a look at the 2xfor1x doc and submit a PR with any revisions I can think of.

[2017-01-25 20:40] edf commented on #209
Is this related to [Vagrantfile#L40-L42](https://github.com/Islandora-CLAW/claw_vagrant/blob/ea92fe08996c4dba600f67b245c0ddf93348fec2/Vagrantfile#L40-L42) ?

[2017-01-25 21:02] bryjbrown commented on #497
@dannylamb This would just involve cloning a repo, removing lines like https://github.com/Islandora-CLAW/islandora_collection/blob/8.x-1.x/composer.json#L19-L26 and then creating a PR? Just wanting to double check what is actually being asked here.

[2017-01-25 21:29] bryjbrown commented on #434
@ruebot I'm a bit confused. Deleting [these lines](https://github.com/Islandora-CLAW/claw_vagrant/blob/ea92fe08996c4dba600f67b245c0ddf93348fec2/scripts/drupal.sh#L80-L81) from claw_vagrant's drupal.sh file seems easy enough, but if we are removing the installation of webprofiler from the vagrant build, why are we installing its required libraries in #436 ?

[2017-01-25 21:48] jyobb commented on #483
I can take this on if it makes sense to do so.  I see @kimpham54 is working on #482 which is related.

[2017-01-25 21:59] whikloj commented on #434
@bryjbrown webprofiler is not a stand-alone project anymore, but is part of **devel**,  which we are still installing. So we still need those libraries, but not this line.
From the webprofiler page:
[code]

[2017-01-25 22:03] Natkeeran commented on #436
https://github.com/Islandora-CLAW/claw_vagrant/pull/5

@MarcusBarnes has tested this.

@ruebot/Others Please review/test.  Thanks.

[2017-01-25 22:14] bryjbrown commented on #434
@whikloj @ruebot How does this look: https://github.com/Islandora-CLAW/claw_vagrant/pull/6

[2017-01-26 00:28] awoods commented on #493
I saw @whikloj's comment in the following ticket:
https://jira.duraspace.org/browse/FCREPO-2243
..but according to @acoburn, there is no actual issue/bug.

What problem are you seeing @DiegoPino ?

[2017-01-26 01:47] dannylamb commented on #209
@edf Yes.  Though I believe we have lost live code editing by splitting out claw_vagrant and using composer to install.  Either way, we need to attempt something else or get rid of those lines.

[2017-01-26 01:49] dannylamb commented on #497
@bryjbrown That is exactly what I'm asking for.  I need someone to do that for each of the repos listed in the issue.

[2017-01-26 01:54] dannylamb commented on #483
@jyobb We'll have to wrap up #482 so you'll have a place to deposit the yml files you'll be exporting.  But feel free to go ahead and attempt to make the media bundle yourself through the UI.

[2017-01-26 02:22] DiegoPino commented on #493
@awoods sorry,  was away the whole day and catching up.
Seems to be a series of version changes, misunderstandings, internal communications and some minor issues regarding flattening in compacted form versus expanded.
Mostly on my perception that later form, according to my interpretation of [API algorithm pseudo code](http://www.w3.org/TR/json-ld-api/#flattening-algorithms), seemed to be probably

[2017-01-26 02:51] acoburn commented on #493
@DiegoPino just in case you're not getting tagged on my response, here it is: https://gist.github.com/whikloj/914aaff77758c5817fbe0b031a5e2c78#gistcomment-1980857

[2017-01-26 02:56] DiegoPino commented on #493
@acoburn indeed. Gist was not tagging me, thanks! will answer there but for now, thanks again 👍

[2017-01-26 03:03] acoburn commented on #493
@DiegoPino IMO, a user should have complete control over namespace definitions, which is why I wrote this: https://github.com/acoburn/trellis-namespaces -- it completely separates the notion of namespaces from the notion of a repository's persistence layer.

[2017-01-26 03:03] dannylamb opened #511 "Add islandora_collection and islandora_image as CLAW submodules"
We need to add these two repos as submodules to CLAW.  May as well update the other submodules while you're at it.

[2017-01-26 03:44] #437 closed

[2017-01-26 04:04] #507 closed

[2017-01-26 11:20] #434 closed

[2017-01-26 11:36] #436 closed

[2017-01-26 14:19] whikloj opened #512 "Dealing with children when you delete a parent"
Currently you can create Drupal entities and add children. But if you delete the parent you get a White Screen of Death (WSOD) and the Apache log says.
[code]

We should either
1. Not allow the object with children to be deleted.
1. Move the parent of the children up a level.
1. Delete all the children too

Discuss

[2017-01-26 14:21] DiegoPino commented on #512
@whikloj cool, thanks for opening this. Will think about the consequences of any of those options!

[2017-01-26 14:22] dannylamb commented on #512
@whikloj Lol, That's for the admin list.  I think it's redirecting you to that after the delete, but is then trying to reference the parent entity from one of the children and WSODs.

So you could possibly also
4. Remove references to the deleted entity (which I guess would be like 2 but makes them top level resources?)

[2017-01-26 14:24] whikloj commented on #512
@dannylamb yes its from the admin list, but thats because the entity is still referencing a deleted entity. So do I just delete the reference? Then they would fall to the top and become a child of the root?

[2017-01-26 14:29] dannylamb commented on #512
My gut says 3, but with a confirm form just to make sure folks are aware of the consequences.

I see this as analogous to having http://fedora_host/fcrepo/rest/abc/123 and then issuing a DELETE to http://fedora_host/fcrepo/rest/abc in Fedora.

[2017-01-26 14:31] ajs6f commented on #512
LDP would say, just delete the children. (Assume that the client knows what it's doing.) But that's an API POV. One question is: what are the expectations for an API and for a UI and are they different here?

[2017-01-26 14:33] DiegoPino commented on #512
@ajs6f there is no assumption here that LDP containment is in place or driving this parent relationships, the predicates used are not LDP ( @whikloj please correct me if I'm wrong) on the islandora side?

[2017-01-26 14:37] dannylamb commented on #512
@ajs6f @DiegoPino This is precisely that relationship, it's just not going to get implemented the way people think it will.  This is where we need to base things in drupal off of the parent relationship so we can easily paginate and prevent the scenario of a resource with potentially infinite children tanking the site.

[2017-01-26 14:42] dannylamb commented on #512
To clarify, we need to use something akin to fedora:hasParent, _assume_ it's the inverse of ldp:contains, but still make sure things wind up in Fedora in the right place in the hierarchy.  The fact that Fedora manages that relationship is a complication, but something I think is worth working with to prevent responses that are too large from being generated.

[2017-01-26 14:44] whikloj commented on #512
This is not an LDP relationship because (as I understand it) that would be parent -> children (ie. ldp:contains). Is there an LDP child -> parent relationship?

But really this would depend on the rdf mapping. We could delete the children but (and I'm talking off the top of my head) update the delete confirmation to tell you that all children will also be deleted.

[2017-01-26 14:45] dannylamb commented on #512
@whikloj There is no in LDP.  We're on the hook for formalizing that relationship.

[2017-01-26 14:50] dannylamb commented on #512
@ajs6f To get back to your question, everything that can be done in with the API should be possible in the UI.  But not the other way around.

And this does bring up implications for the API.  Since moving your stuff around in Fedora sounds like a thing people will want to do with islandora.

[2017-01-26 15:00] DiegoPino commented on #512
Also, the "I will delete the children" radical (sorry) idea can be fine but is just a "wish or intention of bad will". Because the client/UI could not have the credentials to do so, leaving you with the same problematic state as this issue tries to prevent

[2017-01-26 15:44] DiegoPino opened #513 "Restore DEV version of drupal/rdfui - drupal-composer - composer.json file"
Beta and stable releases of drupal/rdfui have issues with our current Drupal version(or issues just plain) which lead to the inability to:
enable the module
[code]

and if force enabled (somehow), missing routes

[code]

deploying https://github.com/Islandora-CLAW/claw_vagrant
you get this

[code]

and tested/requirements should be there

[code]

[2017-01-26 15:54] bryjbrown commented on #497
@dannylamb PRs for islandora, islandora_collection and drupal-project (listed above).

[claw-jsonld's composer.json file](https://github.com/Islandora-CLAW/claw-jsonld/blob/8.x-1.x/composer.json) doesn't have much in it (no existing repository/vcs entries or requirements) so I left it alone. If it requires work I'm happy to do that as well, just need to know what is needed.

[2017-01-26 17:55] DiegoPino commented on #497
Previous pull partially solved issue. reopening

[2017-01-26 17:57] whikloj commented on #497
@bryjbrown If a single PR doesn't close a ticket fully by itself use
[code]

as in

[code]

[2017-01-26 18:10] jyobb commented on #483
What UI should I be using.  I'm a supernewb.

[2017-01-26 18:22] dannylamb commented on #483
@jyobb If you go to `http://localhost:8000/admin/structure` there should be a link to edit media bundles.  You can add a new Media bundle from there.  You'll need to give it an 'Image' field as its contents and set that up to.

I'm in the process of spinning up a new vagrant so I can't take screen shots to show you.  I'll post them in a bit if you're still having problems.  Feel free to tag me if

[2017-01-26 18:29] bryjbrown commented on #497
@whikloj My bad. I was just copying the wording from another PR.

[2017-01-26 18:34] whikloj commented on #497
@bryjbrown no worries that Github ticket trickery is new voodoo.

[2017-01-26 18:53] #497 closed

[2017-01-26 18:55] bryjbrown commented on #497
@dannylamb As @whikloj pointed out, I goofed the wording of the PR message which causes GH to close the referring ticket. https://github.com/Islandora-CLAW/CLAW/issues/497 should be reopened until https://github.com/Islandora-CLAW/islandora_collection/issues/6 is merged and we verify that claw-jsonld doesn't need any TLC.

[2017-01-26 18:56] whikloj commented on #497
@bryjbrown I just merged it, so no worries 👍

[2017-01-26 18:57] dannylamb commented on #497
@bryjbrown No worries.  I just caught that and was about to re-open anyway.

[2017-01-26 18:57] dannylamb commented on #497
Ninja'd by @whikloj

[2017-01-26 19:27] kimpham54 commented on #482
@whikloj I've edited composer.json, see https://github.com/kimpham54/islandora_image/tree/composerrequires. Should I create a pull request or is there anything else I can do?

[2017-01-26 20:18] dannylamb commented on #482
@kimpham54 go ahead and issue a PR.  it makes the review process a lot easier.

_facepalms_  OMG i said `islandora_islandora`... that should be `islandora/islandora`.

[2017-01-27 03:25] whikloj opened #514 "Add Drupal dependency for islandora to islandora_collection"
We require islandora/islandora in the composer.json, but we need to add a dependency in the `islandora_collection.info.yml`. I was able to uninstall islandora and leave islandora_collection in place that seems wrong.

So just adding a line like https://github.com/Islandora-CLAW/islandora/blob/8.x-1.x/islandora.info.yml#L8-L9 to the `islandora_collection.info.yml` but use `islandora` instead of `bl

[2017-01-27 03:29] #468 closed

[2017-01-27 03:57] dannylamb commented on #504
Lol, we gotta stop saying 'partially resolves' if there's more than one pull.  Twice in one day.

[2017-01-27 04:06] dannylamb commented on #504
Happened earlier with @bryjbrown today too.  Sometimes github is too smart for its own good.

[2017-01-27 04:08] dannylamb commented on #394
We've updated Fedora, fcrepo-camel, and fcrepo-camel-toolbox recently, so there's a lot more changes involved now.  All of them for the better.

[2017-01-27 18:12] dannylamb commented on #482
Resolved with https://github.com/Islandora-CLAW/islandora_image/pull/1

[2017-01-27 18:12] #482 closed

[2017-01-30 17:52] jyobb commented on #483
@dannylamb I can  make the bundle no problem. Have there been any decisions made about what fields are needed?

[2017-01-30 18:08] DiegoPino opened #515 "Normalize RDF mapping YAML (rdf mapping config entities) files for all islandora provided bundles"
I have been looking at various parts of the islandora drupal modules and found out that our bundle RDF mapping config entities (the YAML files) have all different predicates, miss `xsd` datatypes and some even have absent mappings.

Will Normalize and add missing data this week. This will help also making our @context definitions more accurate.

[2017-01-30 18:35] Natkeeran opened #516 "Update documentation to reflect recent changes to architecture and components"
As of end of Jan 2017, the CLAW project has undergone significant architecture/components/code organizations changes.  READMEs and other documents need to be updated to reflect these changes.  Priority could be given to projects that direct users to install and test CLAW.

* https://github.com/Islandora-CLAW/CLAW
-> Update install link to point to here: https://github.com/Islandora-CLAW/claw_vagra

[2017-01-30 18:39] DiegoPino commented on #516
@Natkeeran thanks for this. This was really needed.

[2017-01-31 13:49] dannylamb commented on #483
@jyobb The only field strictly required would be the image field to hold the actual contents.  Media bundles really serve the display layer more than anything else, and aside from linking to the contents, there's no plans at the moment for exposing any of its fields as jsonld.  So there's no need to do a metadata mapping or whatnot.  Basically, as soon as you have set things up where you can make

[2017-01-31 14:03] DiegoPino commented on #483
@dannylamb are we not using https://github.com/drupal-media/media_entity_image anymore?

[2017-01-31 14:09] dannylamb commented on #483
@DiegoPino The `media_entity_image` module is enabled by default on the vagrant environment and is the 'Type Provider' @jyobb will be using to make the media bundle.

[2017-01-31 14:22] dannylamb commented on #483
@jyobb TL;DR w/r/t @DiegoPino's comment, as long as you select 'Image' in the 'Type Provider' drop down, you're good to go :+1:  It should look something like this:
![screenshot from 2017-01-31 10-19-00](https://cloud.githubusercontent.com/assets/20773151/22468508/e21b00fc-e79e-11e6-8b01-cbd82af64afe.png)

[2017-01-31 19:29] dannylamb commented on #432
Resolved with https://github.com/Islandora-CLAW/islandora/issues/23

[2017-01-31 19:29] #432 closed

[2017-02-01 18:09] #177 closed

[2017-02-01 18:10] #128 closed

[2017-02-01 18:11] #240 closed

[2017-02-01 18:12] #266 closed

[2017-02-01 18:14] #297 closed

[2017-02-01 19:02] Natkeeran opened #518 "Technical Stack documentation"
Currently the requirements and design documents available for CLAW are high level.  The architectural/technical decisions are documented via GitHub issues, however, it is difficult to trace the discussions and decisions.  In addition, information about the technology stack or components involved, how are they being used in the CLAW, and how developers can begin to delve into them is useful.

Some

[2017-02-01 19:17] #513 closed

[2017-02-01 19:47] dannylamb commented on #394
https://github.com/Islandora-CLAW/CLAW/issues/394 is up, but I'm going to work with @ruebot on https://github.com/Islandora-CLAW/claw_vagrant/pull/3 to make installation easier to test.

[2017-02-02 14:19] jonathangreen commented on #511
Should be fixed in this pull
https://github.com/Islandora-CLAW/CLAW/pull/519

[2017-02-02 14:22] #511 closed

[2017-02-02 14:26] jonathangreen commented on #514
Handled here:
https://github.com/Islandora-CLAW/islandora_collection/pull/7

[2017-02-02 14:39] #514 closed

[2017-02-02 14:58] dannylamb opened #520 "Re-Implement the Drupal Filter using JWT"
Add https://www.drupal.org/project/jwt to the install and be sure to enable the optional module to make it a credentials provider.  If any configuration is required to get it going we'll need to export that as well.

Then we need to develop a ServletFilter for tomcat that will verify the tokens, which we should provide upon every write request.  This seems like a good starting point: http://stacko

[2017-02-02 15:00] ajs6f commented on #520
Just to be clear here, @dannylamb, you mean a `ServletFilter` that can work with _any_ web container, right? Not one specific to Tomcat?

[2017-02-02 15:02] dannylamb commented on #520
Yes.  Sorry, referring to a generic product with a name brand there.  Tomcat's our default, but it should work with any container.

[2017-02-02 15:03] jonathangreen commented on #520
I'll take a crack at this one. May take me a bit of time though.

[2017-02-02 15:06] dannylamb commented on #520
@ajs6f My understanding here is that authn comes from the web server and Fedora doesn't really have to get involved.  Are there potentially any configuration bits on fcrepo I might be missing / not aware of?

[2017-02-02 15:12] ajs6f commented on #520
@dannylamb Definitely way the heck outside of any sphere of Fedora's control or interest. AuthZ, different story, but authN, not Fedora's business.

[2017-02-02 15:13] ajs6f commented on #520
Generally, there may or may not be an immediately proximate web server, but anyway, authN comes from upstream.

[2017-02-02 15:18] jonathangreen commented on #520
Don't worry, if anything I will ask too many questions :)

[2017-02-02 21:29] jonathangreen commented on #520
So here is my understanding of this ticket, just going to write it out to get everyones feedback.

We will be using JSON Web Tokens (JWT) for authentication between Islandora, Fedora and the associated micro services. Drupal will be the source of the JWTs. When Drupal emits events events to its queue, it will pass along tokens with them, that can later be used for authorization in various services

[2017-02-02 21:34] ajs6f commented on #520
My comment is just from the Fedora POV: that seems quite reasonable. (Y'all know that the first question is going to be "But does it work with my utterly obscure obsolete institutionally-mandated SSO system?!")

[2017-02-02 21:43] whikloj commented on #520
"Yes as long as your utterly obscure obsolete institutionally-mandated SSO works with JWTs"

[2017-02-02 22:17] jonathangreen commented on #520
We can push that off to Drupal. "Yes as long as your utterly obscure obsolete institutionally-mandated SSO works with Drupal."

[2017-02-03 14:14] dannylamb opened #521 "Update drupal-project with upstream changes"
Rebase off of upstream's 8.x branch.

[2017-02-03 14:14] dannylamb commented on #521
See https://github.com/Islandora-CLAW/drupal-project/pull/5

[2017-02-03 14:19] DiegoPino commented on #515
Adding some docs to justify my changes (before actually doing them)

The accepted/recommended built in/simple/native (need more synonims here) [XSD data types](http://www.w3.org/TR/xmlschema-2/) for RDF and OWL use are the following

XSD datatypes |
---------  |
xsd:string, xsd:boolean, xsd:decimal, xsd:float, xsd:double, xsd:dateTime, xsd:time, xsd:date, xsd:gYearMonth, xsd:gYear, xsd:gMonthDay,

[2017-02-03 15:03] #521 closed

[2017-02-03 15:15] ruebot opened #522 "Remove GitHub token variable from variables file"
We set a variable for a user's GitHub token in the [`variables`](https://github.com/Islandora-CLAW/claw_vagrant/blob/ea92fe08996c4dba600f67b245c0ddf93348fec2/configs/variables#L21) config file. By doing this, we are risking the possibility of a contributor accidentally committing a GitHub token in the course of a pull request. We need move this variable out into a separate file that is included in

[2017-02-03 18:31] ruebot opened #523 "Update claw_vagrant to use fcrepo 4.7.1"
https://wiki.duraspace.org/display/FF/Fedora+4.7.1+Release+Notes

[2017-02-03 20:08] jyobb commented on #483
I have created the media bundle but am a bit lost on how to export the yaml files.

[2017-02-03 22:32] DiegoPino commented on #483
@jyobb hope this helps https://docs.acquia.com/article/lesson_52_exporting_configurations! 😄

[2017-02-03 22:35] whikloj commented on #483
Ok.

1. Go to **Admin** > **Development** > **Configuration Synchronization**
2. Then click the **Export** tab.
3. Then choose **Single item**
4. Then select your item from the drop-down, it will display in the text box and should give you the path of the file below that.

Sorry my drupal 8 got corrupted as I was trying to check this, so I'm doing this a little from memory.

[2017-02-03 22:42] jyobb commented on #483
thanks

[2017-02-07 14:47] dannylamb commented on #504
Closed by accident due to 'resolved' being in a message.

[2017-02-07 15:02] dannylamb commented on #504
@ruebot I just created https://github.com/fcrepo4-labs/fcrepo-api-x/issues/106 to describe the issue I'm running into with installing API-X.  I'll have to circle back to this once it gets sorted out.

[2017-02-07 17:40] dannylamb opened #524 "Implement GET request for FedoraResource entities"
Implement a GET request for fedora resources, exposing an endpoint at http://localhost:8000/fedora_resource/{id} that has the following behaviour:

* Respects the drupal/symfony _format query parameter
  * e.g. http://localhost:8000/fedora_resource/{id}?_format={format} where format can be json, xml, hal, jsonld, or any other serializer that is enabled.
* Returns vclock in as a header, `X-Islandor

[2017-02-07 17:43] dannylamb commented on #524
I'm also considering respecting Prefer headers to include or omit containment triples.  There is also the option to always exclude containment triples and provide a link header to the list of resources contained, which we could page.

I'm trying hard to design this from someone issuing a request and it killing the site when there's potentially millions of contained resources.

[2017-02-07 17:51] dannylamb opened #525 "Implement a POST request for FedoraResource entities"
Implement a POST request to create fedora resources, exposing an endpoint at http://localhost:8000/fedora_resource/ that has the following behaviour:

* Respects the drupal/symfony _format query parameter
* Expects the bundle as a header, X-Islandora-Bundle, so the resource can be unambiguously created (only required when _format=jsonld)
* Expects proper Content-Type header (despite the _format pa

[2017-02-08 13:57] DiegoPino opened #526 "Change CLAW wide usage of Vector Clock to Version Vector"
There seems to be a misuse of `vclock`and `vector clock` terms in function, definitions, code docs and predicates in our current project code. I say "seems" because I could be mistaken, the misuse could not be such and there could be really a incorrect implementation or there could be a strong reason for doing things the way they are now.

## A bit about
https://en.wikipedia.org/wiki/Vector_clock

[2017-02-08 15:07] dannylamb commented on #525
@whikloj @ajs6f What do you think about this?

For the MVP, this would limit the use of the bundle resolver significantly.  Basically just for data coming from fcrepo that's not in drupal yet.

[2017-02-08 17:58] dannylamb opened #527 "Implement PATCH request for FedoraResource entities"
Implement an endpoint that accepts PATCH requests at `http://localhost:8000/fedora_resource/{id}`.

* It should respect the Drupal/Symfony _format parameter.
* It should accept the Vclock header to perform conditional updates.  E.g. if the provided header and the value in the DB are not the same, abort the operation because someone else has already updated it.  This will be used for optimistic loc

[2017-02-08 18:18] ruebot opened #528 "Update FITS to 1.0.5"
FITS 1.0.5 has been released.

We can update it in our vagrant build, and should be a straight forward pull request by just updating the version number [here](https://github.com/Islandora-CLAW/claw_vagrant/blob/master/configs/variables#L16).

[2017-02-08 18:38] DiegoPino commented on #526
@daniel-dgi @whikloj @ruebot I will go for the proposed "version counter" for now. Will wait a few days more in case others have opinions on this and then will do a general roundup of pulls to change that project wide. thanks

[2017-02-08 18:43] jyobb commented on #483
Once this is done how do I add it to the project?  I ran through the export media bundle and can see the yaml. Unfortunately, the export button is missing but I'll figure that out.

[2017-02-08 18:59] manez commented on #526
That's a grand idea. Now removing the defunct account from our other repos too.

[2017-02-08 19:25] whikloj commented on #449
I am going to un-assign myself from this. I think there are others that could benefit from this small well defined need for some Camel. @Natkeeran??

Also based on @acoburn's statement above, I think we go ahead and implement this for CLAW and if we discover some generalities we can open a discussion at that point.

[2017-02-08 19:26] dannylamb commented on #483
@jyobb It's a pretty low-tech solution.  Just copy/paste it from Drupal into a yaml file in /config/install.  At the very bottom, underneath the text area with the contents, Drupal will tell you what to name the file.

And from the looks of it, https://github.com/Islandora-CLAW/islandora_image doesn't have a /config/install directory, so you'll have to make it.

[2017-02-08 20:59] whikloj commented on #525
👍  I like this. It also needs to respect JWTs.

I'm not sure what you would use the `_format` for as I can only think of sending your data as JSON-LD?

[2017-02-08 21:16] dannylamb opened #529 "Remove oauth token from claw_vagrant"
Now that we're on packagist this is no longer needed.  Remove https://github.com/Islandora-CLAW/claw_vagrant/blob/master/configs/variables#L21 and https://github.com/Islandora-CLAW/claw_vagrant/blob/master/scripts/drupal.sh#L23 and update the README.

One less hoop to jump through.

[2017-02-08 21:19] dannylamb opened #530 "Remove lock file from drupal-project"
We recently committed a lock file with good intentions, but it seems to be preventing the drupal core files from being deployed.  We added https://github.com/Islandora-CLAW/claw_vagrant/blob/master/scripts/drupal.sh#L22 in the heat of the moment to get the build working again, but we should delete that line and remove the lockfile from https://github.com/Islandora-CLAW/drupal-project.

[2017-02-08 21:20] dannylamb commented on #529
@ruebot Yes, it would!

[2017-02-08 21:25] DiegoPino commented on #530
@dannylamb ok, can you confirm that? I tested the following:
Applied all the latest changes that fixed the vagrant deployment from https://github.com/Islandora-CLAW/claw_vagrant/commit/8eb5513a561d444463fd36eddb4f7b9ae0d320e8,
then removed the removal of the lock files (the `rm composer.lock`) and everything deployed fine and smooth. At least on the drupal side of things.

According to myself(not

[2017-02-09 13:35] ruebot opened #532 "MkDocs - ERROR - file not found: /home/nruest/git/CLAW/docs/claw_vagrant/README.md"
Need to set up the structure to bring in claw_vagrant repo like the other sub-modules for documentation.

[2017-02-09 17:20] whikloj commented on #394
Resolved with:

1. https://github.com/Islandora-CLAW/Alpaca/commit/6c38bc4de83d411c2ae6c92d8d7f7c4d7bdb31dd
2. https://github.com/Islandora-CLAW/islandora/commit/38943575d538e4ce96ad7a870850b973f00b3554
3. https://github.com/Islandora-CLAW/claw_vagrant/commit/62b35f349bac7438d0984a38ad204fd666094017

[2017-02-09 17:20] #394 closed

[2017-02-09 19:58] dannylamb commented on #523
`vagrant up`

[2017-02-09 20:00] #523 closed

[2017-02-09 20:01] dannylamb commented on #523
Livin' dangerously.  But @Natkeeran tested and looked good so I merged it.  Thanks so much @ruebot and @Natkeeran.

[2017-02-09 23:03] DiegoPino opened #534 "Future post MVP RDF mapping for primitive/complex data types in Drupal"
Some info that could be useful after MVP completion to deal in a better way with RDF mappings than the current, per field approach:

https://www.drupal.org/docs/8/api/typed-data-api/data-type-plugins
https://www.drupal.org/docs/8/api/typed-data-api/data-definitions

[2017-02-09 23:22] #528 closed

[2017-02-10 13:02] #529 closed

[2017-02-10 13:02] #522 closed

[2017-02-10 19:55] whikloj commented on #532
Resolved with https://github.com/Islandora-CLAW/CLAW/commit/8ae1a0fb97b0a439b7ddf57c6e9373f52275c32e

[2017-02-10 19:55] #532 closed

[2017-02-10 21:15] #530 closed

[2017-02-11 03:16] dannylamb opened #535 "Setup Blazegraph to use inferencing"
Inferencing will let us store a simpler directed graph in Drupal but have the full undirected graph available in the triplestore.  It also can be used to infer types we create in our ontology.

To enable inferencing in Blazegraph, you need to set up a new namespace that has inferencing enabled, and then update `triplestore.baseUrl` in `ca.islandora.alpaca.indexing.triplestore` and `org.fcrepo.came

[2017-02-12 14:35] ruebot opened #536 "Set "islandora" to be the default namespace in Blazegraph web interface"
Currently the default namespace is `kb` in the Blazegraph web interface. We should make it `islandora`.

Related to:
 - https://github.com/Islandora-CLAW/CLAW/issues/535
 - https://github.com/Islandora-CLAW/claw_vagrant/pull/14

[2017-02-12 16:51] ajs6f commented on #535
I think inferencing is totally rad. But please do be careful to leave in those of us who won't want to commit to Blazegraph in particular, and choose for standard forms of inferencing that other stores support.

Not sure what you mean by "undirected" in the context; RDF is inherently directed, right? Maybe bidirectional vs. unidirectional?

[2017-02-13 16:11] whikloj commented on #536
https://wiki.blazegraph.com/wiki/index.php/NanoSparqlServer#web.xml

`namespace` parameter in the `Web.xml` file, which means we need to deploy blazegraph, then replace the Web.xml with a custom one, then restart tomcat.

[2017-02-13 16:12] ajs6f commented on #536
Is it possible to not use the default namespace and instead use one that is Islandora-configured?

[2017-02-13 16:16] whikloj commented on #536
We can by changing our endpoints to be
`http://localhost:8080/bigdata/namespace/islandora/sparql`

But I'm not sure how to add that secondary... namespace... graph... whatever to Blazegraph.

[2017-02-13 16:18] ajs6f commented on #536
@ruebot Yeah, I was responding to @whikloj's first comment. I thought he was suggesting to change the default in Blazegraph, but I must have misunderstood.

[2017-02-13 16:23] whikloj commented on #536
Forget I said anything...I missed the point here.

[2017-02-13 16:26] whikloj commented on #536
Actually no wait, what I said about the web.xml is probably correct. This is just about making it so people don't have to switch the namespaces in the web UI. So changing the default namespace in the web.xml will _probably_ effect that change. However there may be unintended consequences to this action. But if this is just for vagrant and testing and not for the application as a deployment then I

[2017-02-13 16:29] whikloj commented on #536
Sure

[2017-02-13 16:39] whikloj commented on #370
Resolved with https://github.com/Islandora-CLAW/Crayfish/commit/bbd0dfd0aa1a6a0ca0bf6f743c3e07ec29daf4f7

[2017-02-13 16:39] #370 closed

[2017-02-14 16:51] #535 closed

[2017-02-14 19:50] ruebot opened #537 "Documentation audit for 7.x-2.x"
We need to audit the `docs` directory for any mention of 7.x-2.x, and if it exists replace it with Islandora CLAW.

[2017-02-14 20:52] Natkeeran commented on #525
@dannylamb, can you please confirm the following steps to implement this endpoint:

* Add a path to the route
[code]
* Implement the FedoraResourcePOSTController.
* Check checksum
* If mismatch, return 404
* If good, create the bundle as per the request
* Return 201 with json-ld of the created bundle!

[2017-02-14 20:56] Natkeeran commented on #525
@ruebot thank you for the info.

[2017-02-14 20:56] #406 closed

[2017-02-14 21:30] whikloj commented on #525
@Natkeeran I think you are on the right path. I'd say that you only need to verify the checksum if one exists ([RFC 3230](https://tools.ietf.org/html/rfc3230#section-4.3.2)). But otherwise I think if you can make the rest work you'll have done a 👍 .

I have some questions around what @dannylamb needs here.
1. Why 404 if checksum fails?
2. Are we allowing people to send alternate RDF (for the MVP)

[2017-02-14 21:36] DiegoPino commented on #525
@Natkeeran also: drop the checksum verification in case of someone POSTing just RDF variants (said differently, only binaries should have/allow checksum options). Mainly because there is just one known to me canonical-representation-algorithm-that-could-allow-checksums-for-RDF and it works just for JSON-LD and it is just too complex.
Also, Fedora 4 does not support checksumming for not binaries.

[2017-02-15 17:44] Natkeeran commented on #525
@whikloj @ruebot @DiegoPino

Thank you for the feedback.  I'll give it a shot.

[2017-02-15 21:31] whikloj commented on #536
Forget this, the setting in the web.xml actually just directs which namespace to apply queries and updates if you don't specify one in the URL.

ie.
With the parameter set to `islandora` in the web.xml I did
[code]

Then check in the **kb** namespace
[code]

But querying the **islandora** namespace
[code]

The default namespace in the Web UI is actually set by a user on their first use, then it is

[2017-02-16 14:05] #536 closed

[2017-02-16 21:40] whikloj opened #538 "Can't use new fields in Islandora Collection by default"
Islandora Collection has field definitions for 2 fields **description** and **member_of**.

When you go to create a Collection, there is no way to enter values for those fields or display them.

[2017-02-16 22:39] #538 closed

[2017-02-17 16:25] kimpham54 commented on #537
@ruebot some repositories have 8.x.-1.x, master, or both branches. In the case where there are both branches, should I mention that in contributing.md to base your work off of master or off of 8.x-1.x?

[2017-02-21 16:14] jonathangreen opened #540 "Update travis on all drupal repos"
Now that this commit has landed:
https://github.com/Islandora-CLAW/islandora/pull/39

Should make changes to other drupal modules to line up how travis is run on each of them.

https://github.com/islandora-claw/islandora_collection
https://github.com/islandora-claw/claw-jsonld

[2017-02-21 16:16] DiegoPino commented on #540
@jonathangreen assigned to you. Great job!

[2017-02-21 16:21] jonathangreen commented on #540
I agree @ruebot.

My plan is to dump the duplicated scripts folder, clone the islandora module in the travis config and run the scripts out of there. That seemed to work well enough in 7.x.

[2017-02-21 17:10] kimpham54 commented on #537
cleanup tasks for CONTRIBUTING.md (will continue to be updated):
- remove any links that point to 7.x-2.x, make them point to master or 8.x or what the 'master' branch would be for that repository
- change any mention of "Islandora and Fedora project" to Islandora CLAW project
- remove mentions or links to use cases that point to islandora-deprecated/Islandora-Fedora4-Interest-Group
- make sure an

[2017-02-21 17:39] whikloj commented on #520
So I was doing some reading on this and now I have a question.

I can see how this works when syncing from Fedora to Drupal.

1. Fedora requests JWT from Drupal
2. Drupal provides JWT
3. Fedora sends information to Drupal with JWT
4. Drupal validates and processes request w/JWT

But how do we plan to use this for Drupal -> Fedora requests? Am I wrong in assuming that Fedora would have to provide a

[2017-02-21 19:11] jonathangreen commented on #520
So the thing with JWT is they cryptographically sign the JWT. So the flow of information goes something like this:

- Drupal emits a message, containing a JWT signed with the drupal private key
- Message goes to message broker and gets forwarded however using camel pipeline
  - Messages either end up back at Drupal, in which case the JWT is verified in Drupal
  - Messages end up at Fedora (or real

[2017-02-21 19:30] whikloj commented on #520
Also on this topic
https://github.com/cerker/jwt-example

[2017-02-21 19:30] DiegoPino commented on #520
@jonathangreen @whikloj ok! Should we have a quick discussion/planning meeting about this for the drupal ->fedora part?. Mostly because I don't see how things like WebAC fit in that user-less schema.

[2017-02-21 19:40] jonathangreen commented on #520
@DiegoPino the schema isn't userless. The user, and their roles get passed to Fedora in the JWT.

After the JWT is validated then Fedora will have all the information in the JWT to use:
[code]

If we want to have a planning discussion about this, maybe we could add it to the agenda for the CLAW call this week. I'd like to have @dannylamb in on the call, since he created this ticket.

[2017-02-21 19:47] DiegoPino commented on #520
@jonathangreen ok! again, cool. I like planning and stuff but it is not required if you all feel you know your way. What I like most is understanding stuff! (so thanks for that clarification).
So: all that user data is passed to the queue (JMS) and then (have to check the workflow that dani  wrote since I can't remember in which order that went) read by camel, which then uses that info to call Fed

[2017-02-21 20:28] whikloj commented on #520
Okay so let me know if I missed something (or everything) here

At the end of the Drupal -> Camel -> Fedora chain.

1. Fedora receives the request with the JWT
2. it decodes the JWT
3. it gets the **iss**uer (which is the Drupal site URL)
4. it sends the JWT to some special Drupal URL to verify the JWT and return a response code.
5. then Fedora can either process the request or fail.

I'm guessing

[2017-02-22 01:44] jonathangreen commented on #520
@whikloj there is no call back to Drupal from the Fedora side.

1. Fedora receives the request with the JWT
2. it decodes the JWT
3. it gets the issuer (which is the Drupal site URL)
4. looks up the sites public key in a configuration file
5. verify the signature on the JWT
6. then Fedora can either process the request or fail.

[2017-02-22 16:01] whikloj commented on #520
@jonathangreen thanks, I think my understanding of the public/private key verifying was...missing something.

[2017-02-22 17:25] dannylamb commented on #535
@ajs6f Getting back to my glut of github notifications after my vacay.  Sorry for the thread necromancy.

:+1: Bi-directional is the precise word I should've used.

My understanding is that this would work with any 3-store that supports inferencing, so you won't be locked into blazegraph, but you will be locked into a subset of 3-stores in the wild.  A full list of those, and precisely what we're

[2017-02-22 19:38] dannylamb commented on #525
@Natkeeran @whikloj @DiegoPino I'd say we just drop the checksum altogether then, since we're just creating metadata with FedoraResource entities.  You'd have to post seperately to create Media entities for the binaries themselves, with a FedoraResource being like the fcr:metadata elbow.

I think it's fairly safe to assume it would only be JSON-LD, but if you're clever with how you set things up,

[2017-02-22 19:41] whikloj commented on #527
Just to flesh this out. What would the possible contents of the BODY of this request be?

[2017-02-23 14:41] ruebot opened #541 "Setup PR template on all Islandora CLAW GitHub organization repositories"
Let's start with the current template in 1.x, and update it where we need to. I'll put this on the agenda for the next CLAW call, to talk out any issues any of us have with the current template.

https://github.com/Islandora/islandora/blob/7.x/.github/PULL_REQUEST_TEMPLATE.md

- [x] CLAW
- [x] islandora
- [x] islandora_image
- [x] Alpaca
- [x] islandora_collection
- [x] claw-jsonld
- [x] claw_vagr

[2017-02-23 15:58] dannylamb commented on #527
@whikloj It would be equivalent to what PATCH accepts for XML or JSON, but JSON-LD.  So it would contain triples you want updated, but not the entire representation of the entity.  Something akin to https://www.drupal.org/docs/8/core/modules/rest/4-patch-for-updating-content-entities, which shows you how it's done with HAL.

[2017-02-23 16:05] ajs6f commented on #527
Is it something like [this](https://tools.ietf.org/html/rfc6902)?

[2017-02-23 16:51] dannylamb commented on #527
@ajs6f Not really.  I was rolling with Drupal on this one.  It expects enough info to load the entity (which is more than just an id, you need to know bundle as well), and then only the properties you want to get updated.  There may be a little more wrapped in there, but couldn't tell you without more exploration.

[2017-02-23 23:27] jonathangreen commented on #540
JSON_LD is running travis here:
https://travis-ci.org/jonathangreen/claw-jsonld/builds/204787806

but has a bunch of checkstyle violations. Not sure if anyone wants to tackle that one, but I don't.

[2017-02-24 01:52] DiegoPino commented on #540
@jonathangreen just finished cleaned JSON-LD and will make a ticket + pull request as soon my times allows me to do so (sunday?), since it was a long process. Will have to remake all tests. Those are just inherited from HAL module 👻  So will take me some time. 😢
Do you have any suggestion for the KernelTests? Are you creating the stubs manually or do you have a handy trick/script around e.g, phpst

[2017-02-24 01:58] DiegoPino opened #542 "CLAW-JSONLD needs cleanup"
http://github.com/islandora-claw/claw-jsonld needs some love (was born in a loving family but never got proper education)

 1. Drupal coding standards
 2. Remove classes that were implemented later somewhere else (context!)
 3. Make proper Unit and Kernel Tests.
 4. Make deserializer part a reality so POST, PUT and PATCH can rely on that instead of building its own code.

Needed so https://github.

[2017-02-24 02:13] DiegoPino commented on #542
@ruebot @jonathangreen`Coding Standards` are done in https://github.com/Islandora-CLAW/claw-jsonld/pull/5 , but now Tests are badly needed. Since those need to be made from scratch I did not fix coding standards on the existing ones.
 If anyone can do them faster and better than me (release mode,  so slow) it would be extremely welcome. If not will take me some days but will get there. Thanks

[2017-02-24 02:45] jonathangreen commented on #542
This is awesome @DiegoPino! Thanks for doing the coding standards cleanup. I don't have any tips for building tests, but @dannylamb might.

My next plan is to figure out the java part of #520, but if this still needs tests after that I can do them. Just may take me a bit to get to it as well.

[2017-02-24 14:49] dannylamb commented on #540
@DiegoPino The most annoying part is having to manually work your way through the chain of module dependencies, list them all out, then enable and install configuration where appropriate.  Basically this: https://github.com/Islandora-CLAW/islandora/blob/8.x-1.x/tests/src/Kernel/IslandoraKernelTestBase.php#L15-L47

The HAL module's NormalizerTestBase https://api.drupal.org/api/drupal/core%21modules

[2017-02-24 14:58] DiegoPino commented on #540
@dannylamb thanks! True. Since this module really should not depend on islandora one, I have to make my own base test with only rdf module enabled. Would love to make it as thin as possible but not sure.. using real entities is better approach that just passing mock json-ld and structures around right? oh man, test.. tests please remind me to make tests before coding the next time!!

[2017-02-24 17:02] DiegoPino commented on #542
Ok, we have following pull-requests merged
https://github.com/Islandora-CLAW/claw-jsonld/pull/5
https://github.com/Islandora-CLAW/claw-jsonld/pull/6
https://github.com/Islandora-CLAW/claw-jsonld/pull/7
are done. Next proper tests. Thanks!

[2017-02-28 01:19] jonathangreen commented on #540
Some more info about why travis has the wrong commit hashes when doing force pushes on rebased branches sometimes:
https://github.com/travis-ci/travis-ci/issues/5882
https://github.com/galaxyproject/tools-iuc/issues/961

[2017-02-28 03:15] kimpham54 commented on #537
@ruebot

1. Does islandora-7x-2x-committers@googlegroups.com still exist? What should the contact be here: https://github.com/Islandora-CLAW/CLAW/blob/master/docs/contributing/templates/closeCommitterVote.txt#L1

2. Should we have the same CONTRIBUTING.md wording in every repository with the appropriate links/reference to branches modified? I will still look at each CONTRIBUTING.md and note at any

[2017-02-28 14:55] ruebot opened #543 "Setup codecov.io on Alpaca"

[2017-02-28 14:59] jonathangreen commented on #540
Closed with above commits.

[2017-02-28 15:00] DiegoPino commented on #540
@jonathangreen you have islandora_image missing still 😁

[2017-02-28 15:01] jonathangreen commented on #540
Whoops. Didn't realize that one needed some travis as well. Thanks.

[2017-02-28 15:12] #543 closed

[2017-02-28 15:25] ruebot opened #544 "Setup codecov.io on Drupal projects"
- [ ] islandora
- [ ] islandora_collection
- [ ] islandora_image
- [ ] claw_jsonld

[2017-02-28 15:49] ruebot opened #545 "Setup codecov.io on Salmon"

[2017-02-28 15:51] ruebot opened #546 "mvn -> gradle for Salmon"
Salmon still needs to be moved to gradle.

[2017-02-28 16:35] dannylamb commented on #524
I'm gonna snag this one.  I'll start with just jsonld as the format and go from there.

[2017-02-28 16:39] kimpham54 commented on #537
2. Example template:
https://github.com/Islandora-CLAW/Alpaca/pull/33/files would be the template for CONTRIBUTING.md in each repository that isn't CLAW, with the only changes that need to be made for each document under Create a pull request:

1. [Fork](https://help.github.com/articles/fork-a-repo) this repository at [CHANGEME](https://github.com/Islandora-CLAW/CHANGEME) to your personal GitHub a

[2017-02-28 16:57] ruebot opened #547 "Investigate drupal_ti"
https://www.drupal.org/project/drupal_ti

Drupal TravisCI Integration appears to overlap some of what we do with the `.scripts` directory in setting up our modules. This ticket is meant to investigate the project more thoroughly, and identify how it can assist us. As well as where and what work needs to be done to use incorporate it.

[2017-02-28 17:37] dannylamb commented on #546
Honestly, I'm tempted to just put everything in Alpaca and call it a day.  At first I wanted to separate out sync from the rest of the connectors, but that was before I was going full-on granular with Alpaca.  Maybe now it's ok if sync lives as islandora-indexing-fcrepo and islandora-indexing-drupal within Alpaca?

[2017-02-28 17:38] dannylamb commented on #524
Ah, I'm blocked by https://github.com/Islandora-CLAW/CLAW/issues/493.  I'll put this aside and move to something else for now.

[2017-02-28 17:51] DiegoPino commented on #524
#493 is working Dani and all your concerns were addressed, just no tests until I have code freeze for old 1.x done.  So if you can live without tests for now you should be able to continue

[2017-02-28 18:04] dannylamb commented on #524
I'll wait for #493 to be fully addressed.  It's ok, there's plenty to do.

[2017-02-28 18:42] manez commented on #537
I'd prefer to keep it generic if there's any way we can rephrase that. Just looking at how much variation has crept into something as simple as the LICENCE file on the 7.x stack, which is *supposed* to be identical, the fewer moving parts we maintain in these every-repo-has-one docs, the better.

[2017-03-01 19:19] whikloj commented on #541
Ooops

[2017-03-01 19:21] whikloj commented on #541
Do we need to update all these repos? Some of this code is of questionable value moving forward. I mean, it won't hurt anything. Just thinking about the chullo/PDX/Crayfish world.

[2017-03-02 01:24] #540 closed

[2017-03-03 20:37] Natkeeran commented on #449
@dannylamb

I am trying out your POC.

While implementing in Java DSL, I am getting the following exception.  Any suggestion as to the causes:

[code]

[code]

[2017-03-03 21:31] whikloj commented on #449
@Natkeeran Not sure if this is helpful at all, but here is a Java DSL camel route I route. This is a WAR webapp though.
https://github.com/uml-digitalinitiatives/derivative-route/blob/master/src/main/java/ca/umanitoba/dam/DerivativeRoute.java

[2017-03-06 13:25] dannylamb commented on #449
@Natkeeran I'd try and set this up using blueprint within Alpaca and its build process.  You may be down a sinkhole you wouldn't encounter in that context.

If you 'd like, I can help you get that set up with a feature and all.

[2017-03-06 13:27] dannylamb commented on #449
And just after posting that I see the problem:
`.routingSlip(header("slip"), ",")` should just be `.routingSlip("slip", ",")`

[2017-03-06 13:27] dannylamb commented on #449
@Natkeeran Offer still stands if you want help getting that set up all the way with a feature.  Just tag me.

[2017-03-06 13:31] dannylamb commented on #541
@ruebot Are we good to close this?

[2017-03-06 13:34] dannylamb commented on #490
I'm snagging this, mostly because I think I'm going to pivot on how to accomplish this.

[2017-03-06 13:37] dannylamb opened #549 "Directly use Media entities as NonRdfResources"
This is a staunch departure from the direction we've been taking until now, so I thought I'd bring this to people's attention before working on it.

While attempting https://github.com/Islandora-CLAW/CLAW/issues/490, I'm seeing that we've got an unnecessary layer of entities around NonRdfResources.  That is, we have a FedoraResource that's a NonRdfResource, which describes a Media entity, which in

[2017-03-06 15:31] #541 closed

[2017-03-07 15:54] DiegoPino commented on #549
@dannylamb good to talk about this, thanks!. Can you expand on the benefits and also the problems of this approach you have found during your research?

I will paste here some notes/questions i wrote up when I originally suggested the use of Media entities:

* Would this mean all media entities would become Fedora Non Rdf Sources, if the relationship to parent container does not define the context

[2017-03-07 19:22] dannylamb commented on #549
@DiegoPino

There's a lot in there, so I'll try to answer each in turn:

- You are correct that all media entities would be treated as NonRdfSources.  The mechanism that controls syncing would be a custom Rule much like it is now with FedoraResources.  This is where we'll get into creating custom Rules Conditions that will filter out ones we don't want to push back to Fedora.
- I'm not sure what y

[2017-03-07 20:47] dannylamb commented on #549
Realizing I never expanded on pros/cons.

The pro is that this approach would eliminate an entire entity per NonRdfSource.  This will make for simpler construction both through the UI and programatically.

You've already covered the biggest con I can think of, which is that you lose control over base fields and have to re-apply the same fields to every bundle you make.  Programatically it's not th

[2017-03-07 22:38] jonathangreen commented on #520
So final puzzle piece is here:
https://github.com/jonathangreen/syn

That repo implements a valve that can be used in tomcat so fedora4 will accept islandora's JWTs.

[2017-03-07 23:47] jonathangreen commented on #520
I think whenever someone is ready to pull the trigger, these pull requests are good to go in now from my perspective.

[2017-03-08 14:26] dannylamb commented on #526
@DiegoPino I'll tackle this as part of https://github.com/Islandora-CLAW/CLAW/issues/549.  First thing to do is remove it as a field and handle it as a separate service on the side.  This way it will apply to multiple entity types with the added benefit of not being in the pending ontology.  It's a detail I'd rather not expose.

While I'm in there I'll rename things.

[2017-03-08 20:00] #520 closed

[2017-03-08 20:41] jonathangreen opened #551 "Use SSL for all REST Communications"
We are using JWT tokens to secure our communications between services, but tokens require SSL to make sure no one records the tokens as they go by.

We should make sure that everything is communicating over SSL. Good practice to do anyway.

- [ ] STOMP Broker
- [ ] Tomcat
- [ ] Drupal

Am I missing any services?

The question is what should we use for a certificate for vagrant? Should we just use

[2017-03-08 22:52] ruebot opened #552 "Salmon back in Alpaca"
@dannylamb and I have had some [preliminary discussions](https://github.com/Islandora-CLAW/CLAW/issues/546) on bringing Salmon back into Alpaca as a sub-project. If we do go this route, do we want to preserve the history on Salmon, since we preserved it when we pulled it out of Alpaca? The process looks fairly complicated as outlined [here](https://www.vlent.nl/weblog/2013/11/02/merge-a-separate-g

[2017-03-09 13:08] dannylamb commented on #552
As long as that code is in Alpaca at some point in time in the history, we can just toss it.  No need to re-integrate it just so we can write over it.

[2017-03-09 13:09] dannylamb commented on #552
Just checked: https://github.com/Islandora-CLAW/Alpaca/tree/ea09a6970477ab8d5103b3add55f5aca3f3cd157/sync

It's in there.

[2017-03-09 13:11] dannylamb commented on #551
Depends on how you want to go about it.  Self signing might be a bit easier to orchestrate, but LetsEncrcypt would be more like a real deployment.  I'm ambivalent.

Does https://github.com/Islandora-Labs/islandora_vagrant or https://github.com/Islandora-Labs/islandora_vagrant_base_box do anything to address this?

[2017-03-09 13:21] manez commented on #552
I'm cool with that.

[2017-03-09 14:08] dannylamb commented on #552
TFW deleting a repo:
<image src="https://img.pandawhale.com/post-23831-Burt-Reynolds-explosion-reacti-2Hu3.gif"/>

[2017-03-09 14:12] manez commented on #552
![image](https://cloud.githubusercontent.com/assets/2371345/23753725/ea24211e-04b0-11e7-9486-016b30f59a42.png)

[2017-03-09 15:32] #546 closed

[2017-03-09 15:33] #545 closed

[2017-03-09 15:33] #363 closed

[2017-03-09 15:34] #350 closed

[2017-03-09 18:01] jonathangreen commented on #551
So doing a bit of digging, we can't use lets encrypt because we need a domain name we can do verification against or they won't issue certs.

So I think self signed is the way to go. To make it more like a real deployment, we can probably make our our self signed certificate authority, then add that as a root certificate in java, so all the requests will act like they are a real request with a rea

[2017-03-09 18:25] whikloj commented on #552
Because I feel we are going to need this again someday.

![claw-burn](https://cloud.githubusercontent.com/assets/2857697/23764517/77b398d6-04c3-11e7-910f-fefd58256f20.gif)

[2017-03-09 18:28] manez commented on #552
👏  👏  👏

[2017-03-09 18:40] #552 closed

[2017-03-09 21:19] bryjbrown commented on #510
@ruebot I got wrapped up in working on bugfixes for the 1.9 release and this fell off my radar, apologies.

It looks like the [ecosystem section of the "Intro to CLAW" doc](https://github.com/Islandora-CLAW/CLAW/blob/master/docs/user-documentation/intro-to-claw.md#ecosystem) will need some major rewriting since it looks like we've ditched Chullo/Crayfish/PDX. TBH I don't understand the current arc

[2017-03-09 21:22] bryjbrown commented on #510
It looks like the [Hacking on Islandora CLAW](https://github.com/Islandora-CLAW/CLAW/blob/master/docs/contributing/hacking-on-islandora.md) doc could be a great starting point (or thing referenced by) an "Intro to CLAW Development" doc.

[2017-03-10 14:02] dannylamb commented on #510
@bryjbrown You wanna set up a call sometime soon?  I can help give you that 10,000 ft view.  Feel free to hunt me down in IRC or Skype.

[2017-03-13 00:17] bryjbrown commented on #510
@dannylamb Sure! Would you be available after this week's tech call (March 15)? I'd also be available after Thursday's release call and Friday's roadmap call.

[2017-03-13 14:27] dannylamb commented on #510
@bryjbrown I'm available right after the tech call.  See you then.

[2017-03-13 16:34] #526 closed

[2017-03-13 16:56] dannylamb commented on #549
Not yet @ruebot. I've got to issue some pulls for islandora_image now that #526 is resolved.

[2017-03-13 19:06] dannylamb commented on #449
@Natkeeran I've done some explorations after our last few rounds of discussion, and I think we can merge the broadcaster and pipeline code if we make the exchange pattern come from a header.  Tag me or skype me if you want to discuss this.

Basically just take the work you've already done and replace the broadcaster with it, hacking out the ExchangePattern (InOnly, InOut) from a header.

[2017-03-17 19:50] dannylamb opened #556 "JWT Configuration isn't taking hold"
When spinning up a new vagrant, JWT configuration is not set properly.  Both the Key and Secret are not available in their respective configuration panels.

Code that sets the config is here: https://github.com/Islandora-CLAW/claw_vagrant/blob/master/scripts/drupal.sh#L127

Code that checks for the token's existence is thwarted by PHPs terrible truth table.  Probably should stick to empty() instea

[2017-03-17 19:51] dannylamb commented on #556
I stumbled upon this when trying to set up JWT AuthN for the OCR microservice I'm working on.  Shouldn't be major, but vagrant testing is always a bit of a pain.

[2017-03-18 00:29] whikloj commented on #556
Sorry, when you say you see the key and JWT in their respective panels. But they are not configured? Because I rebuilt my vagrant today and it seemed to be configured. I can retry, but I want to make sure I understand what you're seeing.

[2017-03-18 16:32] whikloj opened #557 "Do we need Atomic Operations?"
Discussion in the Fedora API specification has begun around whether Atomic Operations should be part of the specification.

See
https://github.com/fcrepo/fcrepo-specification/issues/75 and https://github.com/fcrepo/fcrepo-specification/issues/76

At this point I am starting to wonder (like @ruebot did in IRC) whether we really care about Atomic Operations or should we just handle failures in our c

[2017-03-18 18:33] acoburn commented on #557
Batch ops are in direct conflict with scalability. I can elaborate if necessary.

Sent from my iPhone

On Mar 18, 2017, at 12:35 PM, Nick Ruest <notifications@github.com<mailto:notifications@github.com>> wrote:

If we care about scaling, which has been one of our founding goals of CLAW, then we cannot push for batch atomic operations.

—
You are receiving this because you are subscribed to this th

[2017-03-19 21:42] kimpham54 commented on #537
@ruebot sorry, just got back from vacation and didn't have my laptop. i'll be sending PRs shortly

[2017-03-19 21:56] kimpham54 commented on #537
@ruebot @manez trying to describe forking a repository in a generic way:

1. [Fork](https://help.github.com/articles/fork-a-repo) this repository to your personal GitHub account. Be cautious of which branches you work from though **(you'll want to base your work off of the the most current stable branch - don't be afraid to ask if you're unsure which one it is)**. See [Fork a repo](https://help.gi

[2017-03-20 12:52] ruebot opened #558 "Update claw_vagrant to use fcrepo 4.7.2"

[2017-03-20 12:53] ruebot opened #559 "Update claw_vagrant to use a more recent version of Karaf"

[2017-03-20 12:57] dannylamb commented on #556
@whikloj There's _always_ the possibility my build didn't come up right.  Let me try again and we'll talk if I've still got problems.

[2017-03-20 12:59] dannylamb commented on #557
I'm working under the assumption @acoburn just provided and am specifically avoiding them in the code.  So FWIW, from my point of view, they aren't neccessary.  Even if a Fedora impl provides them, I won't use them.  Better to have good error handling/retry scenarios to handle fails as they happen, because I want islandora to scale.

[2017-03-20 13:06] dannylamb commented on #556
@whikloj Edited my late friday afternoon grammar fail.  Maybe it's more clear now.  Still spinning up a new box to duplicate as soon as I offload my latest round of work.

[2017-03-20 13:29] dannylamb commented on #556
Threw up a PR so that if there is a config error, at least we're notified now.  OK, safe to destroy/up for me now.  I'll report back later.

[2017-03-20 15:15] kimpham54 commented on #537
@ruebot @manez https://github.com/Islandora-CLAW/Alpaca/pull/37 is ready for review

[2017-03-20 15:26] kimpham54 commented on #537
@ruebot @manez Updated Islandora-CLAW/Alpaca#37 - please review

[2017-03-20 17:42] kimpham54 commented on #537
PRs to review:

- [ ] Adding CONTRIBUTING.md to https://github.com/Islandora-CLAW/Hypercube/pull/2

[2017-03-20 19:10] ruebot opened #560 "Remove PHP 5.5 from all CLAW TravisCI build configurations"
- [x] https://github.com/Islandora-CLAW/islandora_collection/blob/8.x-1.x/.travis.yml#L5
- [x] https://github.com/Islandora-CLAW/islandora/blob/8.x-1.x/.travis.yml#L4
- [x] https://github.com/Islandora-CLAW/claw-jsonld/blob/8.x-1.x/.travis.yml#L5
- [x] https://github.com/Islandora-CLAW/islandora_image/blob/8.x-1.x/.travis.yml#L5

[2017-03-21 14:12] jonathangreen opened #562 "Does anyone use the Digital Ocean provisioner in vagrant?"
I tried to bring the claw vagrant up today using the DO provisioner, and it didn't work for me. First thing I noticed is that it is trying to bring things up using 14.04, which was causing problems. Changing it to provision using 16.04 worked better, but had some issues with users.

Based on this I'm wondering if anyone uses this provisioner? If not should it be removed?

@Islandora-CLAW/committer

[2017-03-21 15:35] #512 closed

[2017-03-21 15:46] dannylamb commented on #562
Haven't tried it in forever.  If you want it and are willing to patch it up, that'd be great.  But if no one wants to claim it, then I say purge it.  One less thing to take care of.

[2017-03-21 15:51] dannylamb commented on #512
Thanks you @whikloj @DiegoPino

[2017-03-21 15:54] dannylamb commented on #556
Yeah, totally an environment issue on my end.  My original shell I spun up that environment in is gone, so I don't know how/why it failed.  But I just cycled my vagrant box and we're all good.  I'll still work on https://github.com/Islandora-CLAW/islandora/issues/48 so we can be notified of configuration error while also passing tests.

[2017-03-21 16:03] jonathangreen commented on #562
I don't really need it and I was thinking it should probably go if no one is using it. I just had a different vagrant box running, so I thought I'd give it a try.

If everyone is happy pulling it out, I can probably make pull to do so, just wanted to get a consensus.

[2017-03-21 16:08] dannylamb commented on #449
Resolved with https://github.com/Islandora-CLAW/Alpaca/commit/558ef69ea9a9b166443f3764cec0671813d0f623

Additional changes to be made in a subsequent ticket.

[2017-03-21 16:08] #449 closed

[2017-03-21 16:58] ruebot opened #563 "Setup phpcs in claw_vagrant"
As per this comment:
https://github.com/Islandora-CLAW/claw-jsonld/pull/12#issuecomment-287952802

[2017-03-21 17:34] #483 closed

[2017-03-22 13:12] kimpham54 commented on #537
@ruebot none of the repositories now mention 7.x-2.x, with the exception of https://github.com/Islandora-CLAW/CLAW/blob/master/docs/contributing/templates/closeCommitterVote.txt#L1 and https://github.com/Islandora-CLAW/CLAW/blob/master/docs/contributing/templates/committerVote.txt#L1

[2017-03-22 16:53] jyobb commented on #560
@ruebot I have some free time coming up and could take this on.

[2017-03-22 18:24] whikloj opened #564 "Do we need the "Externally Referenced Content" in CLAW/Fedora 4"
Currently the Fedora 4 [reference implementation](https://wiki.duraspace.org/display/FEDORA4x/External+Content) and the Fedora API [[1]](https://fcrepo.github.io/fcrepo-specification/#httpPOSTLDPNR) [[2]](https://fcrepo.github.io/fcrepo-specification/#httpPUTLDPNR) only cover one way to handle binary data that is **not** stored inside Fedora.

To add to the confusion the _External Content_ in Fedo

[2017-03-22 19:28] jyobb commented on #560
@ruebot I could use some context and clarification.

[2017-03-22 19:43] jyobb commented on #560
I can do that!

[2017-03-22 22:20] jyobb commented on #560
I have accepted the invitation.

[2017-03-23 00:54] whikloj commented on #527
So funny story, this works for json right now. No actual work involved.

I enabled PATCH with json and basic auth. Then I created a RDF Source with some name.

Then I did
[code]
and lo and behold the name of the resource had been updated.

If I don't pass the basic auth parameters you get a HTML page for access denied, but the headers are
[code]

Thoughts?

[2017-03-23 01:41] whikloj commented on #527
So I'm guessing this is not going to work for json-ld format, nor does it care about the vclock parameter. The json-ld is probably something we need to develop centrally so it can be used by all the HTTP operations, but I'll look to adding a requirement for the vclock.

[2017-03-23 02:36] DiegoPino commented on #527
@whikloj but if it works for JSON, most of the heavy work is done, good finding!. the JSON-LD part would just need to map back to JSON representation Drupal already knows of (which are the fields, most likely the way post is doing that) and then execute all the logic JSON already applies. Sounds easy, but for sure it can have more complications. Probably when that logic goes into the serializer th

[2017-03-23 12:51] #389 closed

[2017-03-23 12:53] dannylamb commented on #527
Yeah, totally works right now.  If we can't sort out the serializer in both directions before deadline, this is my fallback, lol.

[2017-03-23 13:06] dannylamb commented on #527
@whikloj It's tricky.  There doesn't seem to be a way to really alter existing REST resources, per se.  Just ways to register your own plugin instead of the default.  It's akin to making your own custom controller but having it work under the guise of the Drupal's REST system.

_Maybe_ we could implement conditional updates with the version counter via middleware, but I haven't explored that appro

[2017-03-23 13:16] dannylamb opened #565 "Add JWT Authentication to Hypercube"
There's the possibility of using https://packagist.org/packages/jsor/stack-jwt as a stack middleware, which would be beneficial since we'll have to do this with _every_ PHP microservice.  I checked it out but there's no real docs to speak of.  You'll have to look at the code and probably the tests to see how it's implemented.  Might be a bit of a rabbit hole, but it's worth exploring.

If all else

[2017-03-23 13:21] dannylamb opened #566 "Create URI Mapping Service"
Right now we're deploying https://gitlab.amherst.edu/acdc/repository-extension-services/tree/master/acrepo-connector-idiomatic but not really making use of it.  Working through indexing content in Fedora, I've decided to pivot a bit and focus on mapping uris instead of identifiers.  The main reason being that it dodges the issue of global id minting.  It also means we wouldn't have to create a pre

[2017-03-23 13:22] dannylamb commented on #566
Rough first implementation is built in [Silex using Doctrine's database abstraction layer](http://silex.sensiolabs.org/doc/2.0/providers/doctrine.html).

[2017-03-23 13:30] dannylamb opened #568 "Expose MySQL through already forwarded port"
We're forwarding the MySQL port 3306 in our vagrant environment, but there's additional MySQL config that needs to be done before you can connect through it on the host machine.

During vagrant install we need to append this to `/etc/mysql/my.cnf`
[code]

Then feed this to mysql:
[code]

A `sudo service mysql restart` probably wouldn't hurt either.

You've successfully completed this issue when yo

[2017-03-23 13:31] DiegoPino commented on #566
@dannylamb, @ruebot @whikloj @jonathangreen @manez : Not sure what you think, but i would be inclined to think that this type of changes could go into the MVP doc or someone could add some notes what is being replaced for what there for future reference. Not sure if we got the time now to discuss the implications of this (which is OK) but any architectural change should get reflected in that docum

[2017-03-23 13:33] dannylamb commented on #566
@DiegoPino I mention an id mapping service with diagrams many times in the MVP.  Is the fact that we're using dereferencable uris enough to warrant a change?  Seems like an implementation detail to me.

[2017-03-23 13:51] whikloj commented on #527
So what I am doing right now is just implementing [`hook_rest_resource_alter`](https://api.drupal.org/api/drupal/core!modules!rest!rest.api.php/function/hook_rest_resource_alter/8.2.x)

Then pointing to my own class that extends the normal entity REST [response class](https://api.drupal.org/api/drupal/core%21modules%21rest%21src%21Plugin%21rest%21resource%21EntityResource.php/class/EntityResource/

[2017-03-23 13:54] dannylamb commented on #527
@whikloj Precisely.  If you can get at the headers and add the conditional part there, I think it'd be great and provide a seamless Drupal experience.

[2017-03-23 13:55] DiegoPino commented on #566
@dannylamb @ruebot what works for you should be enough.

[2017-03-23 13:56] whikloj commented on #527
@dannylamb oh right I forgot that the vclock was a header :man_facepalming:

This is going to need to be a routing alter, as the requirements are set on routes.

[2017-03-23 14:10] dannylamb commented on #566
@DiegoPino I see section that could get touched up: https://github.com/Islandora-CLAW/CLAW/blob/master/docs/mvp/mvp_doc.md#id-indexer.  This indexer may be listening to event streams from Drupal instead of Fedora, but I'm still working through the details.

How about I touch that up when the dust settles since I'm still working though this.

[2017-03-23 14:23] awoods commented on #564
Continuation of reasons expressed:
...
4. Lifecycle management of binary descriptions relative to binary resource
5. Fixity (with caution)

[2017-03-23 15:54] kimpham54 commented on #537
@ruebot updated https://github.com/Islandora-CLAW/CLAW/issues/537#issuecomment-287839669

[2017-03-23 15:56] #537 closed

[2017-03-23 15:57] kimpham54 commented on #537
@ruebot thanks for putting up with my million fake PRs

[2017-03-23 17:00] dannylamb opened #569 "Merge 'Broadcaster' and 'Pipeline'"
The recipient list of the broadcaster can be replaced with the routing slip from the pipeline.  The difference between functionality lies in setting the `ExchangePattern` on the routing slip.  `ExchangePattern.InOnly` is a broadcaster and `ExchangePattern.InOut` is a pipeline.

We should merge these two into one OSGi bundle that accepts a header for the exchange pattern.  This will minimize both t

[2017-03-23 17:05] dannylamb opened #570 "Parse Events Before Broadcasting/Pipelining"
When working through fcrepo indexing, I'm seeing a recurring pattern on each step in the workflow processing the event from Drupal the same way.  By publishing to an event processing route that extracts informtation and stores it as exchange properties, we can only do processing once before passing it off to the user defined worfklow.

Basically, we need to pull [this](https://github.com/Islandora

[2017-03-23 17:52] jyobb commented on #560
@ruebot I submitted a pull request on the islandora repo.  It looks like I screwed up creating the link to the issue in the pull request.

[2017-03-23 20:52] jyobb commented on #560
@ruebot I have got 3 of the 4 done but am struggling with git.  I have already forked islandora_image but the main branch name changed and some changes happened in the new branch.  Git does not want to merge and is telling me to use the command line.  I'm trying to sort this out.

[2017-03-24 00:27] whikloj commented on #527
Ok, I need some help here.

This is what I know. If the vclock is in the request body, I can compare it once we start processing the actual PATCH. That isn't really the Drupal way as the check should occur before it, but we don't get that until the entity is ready.

We can leave it as a header and perform a test like the CSRF-Token check, except that to validate the vclock we need to load the enti

[2017-03-24 12:59] DiegoPino commented on #527
@whikloj you could have request and the entity at the same time. Worst scenario: at least enough data to load the entity base on the request. Can you point me to a piece of code/existing functionality you would like to extend?
One good example of entity and request being at the same contex/same time are controllers that upcast (convert argument into object) entities like https://github.com/Islando

[2017-03-24 12:59] bradspry commented on #564
Yes, it seems like a path to CDN support.

Here's a relevant conversation I had with Wim Leers, lead developer of Drupal's CDN module, concerning Fedora Commons and CDN:
https://www.drupal.org/node/2758739

In addition to the video streaming use case, which is crucial because pseudo-streaming isn't robust enough, it is highly desirable to serve up practically every datastream via CDN.   The result

[2017-03-24 13:42] whikloj commented on #527
I got it, it took me a bit but I can just add the Request to the patch function signature and boom it is there. So I am closer.

[2017-03-24 13:42] dannylamb commented on #527
The version counter is passed as a header and is not stored on the entity, so it could in theory be handled totally before-hand.  But yeah... that's the problem with the whole REST system, the plugins don't act until too far downstream.

I _think_ you can auto-inject Requests by just putting them in the function.

[2017-03-24 13:43] dannylamb commented on #527
HA! Ninja'd by @whikloj

Good form.

[2017-03-24 16:00] whikloj commented on #527
Before I get too far... Do we care about this warning showing up in watchdog and on the CLI when clearing cache?

Basically because I `extend`ed EntityResource and it's signature for `patch()` doesn't have the `Request` argument. Not sure how to avoid this though.

[2017-03-24 16:31] DiegoPino commented on #527
@whikloj easy or the complex answer?

Easy (for me, not for the developer): We should care because it will fail on tests and it is not cool: breaks http://en.wikipedia.org/wiki/SOLID
PHP thing, because maybe JAVA would allow some trick there.

Complex (for all of us): You will need to extend from the same interface it is expecting and add methods that are missing/you need via private methods. It i

[2017-03-24 16:48] whikloj commented on #524
#527 kinda relies on this as it would be good to do a test with a GET first to get the X-Islandora-Vclock header and then patch. I'll use known values for now.

[2017-03-24 17:24] #560 closed

[2017-03-24 18:18] whikloj opened #571 "Drupal REST syntax has changed, claw-jsonld could be altered"
In working on #527 I have done a lot of PATCHing and it appears that this syntax (https://www.drupal.org/docs/8/core/modules/rest/4-patch-for-updating-content-entities) is not correct and this syntax (https://www.drupal.org/docs/8/core/modules/rest/javascript-and-drupal-8-restful-web-services) is.

I was looking at the nodes stuff, because it was the stuff that worked for FedoraResources out of th

[2017-03-24 18:54] whikloj commented on #571
Actually we are going to use a header to pass this information, so the function will need to be altered, but not yet.

[2017-03-24 18:55] whikloj commented on #571
I'll do this as part of #527

[2017-03-24 18:55] #571 closed

[2017-03-25 03:20] whikloj commented on #527
Hi all,

Okay I have gotten to the point where I have the JSON-LD patch at the ContentEntityNormalizer in claw-jsonld.

There is all goes to hell, mostly because it does not seem to do anything with the \@graph, it checks for a field with that name and dies on an uncaught exception.

I'm going to push up branches to Islandora and claw-jsonld so everyone can see what I'm doing.

I feel like I'm clo

[2017-03-25 04:20] whikloj commented on #527
Here is the comparison of my Islandora branch [issue-527](https://github.com/Islandora-CLAW/islandora/compare/8.x-1.x...whikloj:issue-527?expand=1). This works for JSON, and is pretty good for json-ld. I get the header into the data (actually into the context) but the json-ld denormalizer might need adjusting or I might need to be putting the entity id and bundle id in different spots.

Here is th

[2017-03-25 13:19] DiegoPino commented on #527
@whikloj I think what you are seeing is correct and expected. claw-jsonld never got to that part. All the coding was done on the normalizing/serializing part but not backward fucntionality was added, remember this code comes from a different dimension.

If you are willing to give this next week some try, i will grab both your branches and do some testing tomorrow sunday to have something to share

[2017-03-25 18:21] whikloj commented on #527
@DiegoPino sounds good, just knowing that this part may not be functional before helps me out. I can work through some of it. I guessing what I am wondering is should we be standardizing our JSON-LD before this...like should we transform whatever we get into expanded so we can only deal with one format.

I also realized I have some changes, I injected a database connection to make a VersionCounter

[2017-03-26 15:40] DiegoPino commented on #527
@whikloj want me to pull against your https://github.com/Islandora-CLAW/claw-jsonld/compare/8.x-1.x...whikloj:issue-527?expand=1 ?
That way you can keep your own Pull request open and you can enjoy of clutterless git-merge-committer approval experience!

@Natkeeran pinging you here, because basically what @whikloj needs is the important json-ld to entity structure part (the one @dannylamb was aski

[2017-03-26 17:57] whikloj commented on #527
@DiegoPino that actually isn't a PR yet. That was just some stuff I had tried in claw-jsonld. If you have something better, just open your own PR and if I have any suggestions I can pull against your PR.

Regarding the question of how PATCH works internally, in the case of JSON it overwrites the values you send as long as you have permissions. In the case of JSON-LD, well we get to decide how it w

[2017-03-27 12:23] #562 closed

[2017-03-27 12:24] jonathangreen commented on #562
👍🏻

[2017-03-27 14:27] dannylamb opened #572 "Islandora 'Large Image' workflow"
Meta ticket to handle all of our 'large image' needs.

- [x] Add OpenJPEG Support to Imagemagick in Vagrant install. [Pull](https://github.com/Islandora-CLAW/claw_vagrant/pull/27).
- [x] Add IIIF server back to install. [Pull](https://github.com/Islandora-CLAW/claw_vagrant/pull/26)
- [x] Create API-X Silex middleware [Ticket](https://github.com/Islandora-CLAW/CLAW/issues/578)
- [x] Develop image m

[2017-03-27 15:30] #558 closed

[2017-03-27 15:30] #559 closed

[2017-03-27 15:39] jonathangreen commented on #572
We should be able to replace our [IIIF](http://iiif.io) image server with whatever image server we choose in the future. But the _default_ Islandora install should use one that doesn't require [Kakadu](http://kakadusoftware.com) to function. That keeps our licensing easier, and makes sure that we have a fully open source option, even if people choose to deploy in another way.

That narrows down th

[2017-03-27 15:47] dannylamb commented on #572
Having looked at the three, I'm inclined to agree with you on IIP Image, and if that doesn't pan out, try digilib.  I'd shy away from LORIS-redux, seems to have WIP warnings aplenty.

[2017-03-27 15:52] dannylamb commented on #527
@DiegoPino If you're just using plain old JSON, it replaces entirely.  So if you want to add you need to have all the old values plus your new ones.  I believe the order in which you provide them becomes the order in which they are persisted and subsequently returned in GET requests.

[2017-03-27 15:52] dannylamb commented on #527
@whikloj Test what you can.  Reach out if you want/need help.

[2017-03-27 16:13] DiegoPino commented on #527
@dannylamb @whikloj @ajs6f @acoburn as discussed in [IRC today,](http://irclogs.islandora.ca/2017-03-27.html) PATCHING linked data without clear semantics /query-update language is weird/complicated and prone to explode(or not work at all). Good for now of course to have this code, but good to know that if we are going to add this formally to the API in the future we or you all should discuss a li

[2017-03-27 16:59] jonathangreen commented on #572
This also seems like it may be fairly useful:
https://www.drupal.org/project/mirador

[2017-03-27 17:26] dannylamb commented on #572
That does indeed look useful.  I wonder how well that would play with the Media entity thing we've got going on.  Definitely worth investigating.

[2017-03-27 17:44] dannylamb commented on #572
Quick look at the code means it's a field formatter, which _should_ be useable on a media entity no problem.  This looks promising.

[2017-03-27 18:17] ruebot opened #573 "Allow read only web access to fcrepo"
-- @dannylamb

[2017-03-27 19:42] #569 closed

[2017-03-27 19:58] dannylamb opened #574 "Enable `simpletest` module in `claw_vagrant`"
Just toss in `$DRUSH_CMD en -y simpletest` somewhere around here: https://github.com/Islandora-CLAW/claw_vagrant/blob/master/scripts/drupal.sh#L90

[2017-03-27 20:26] #493 closed

[2017-03-27 20:26] #505 closed

[2017-03-27 20:26] #506 closed

[2017-03-27 20:28] jonathangreen commented on #572
Thus far my attempts to get IIP going with OpenJPEG are meeting with failure. I made a ticket above to see if they had any troubleshooting ideas. I'm going to abandon IIP for now and try using Cantaloupe.

[2017-03-27 20:37] jonathangreen commented on #573
In the security context for fedora we could exempt GET requests from the authentication filter:
https://github.com/Islandora-CLAW/claw_vagrant/blob/master/configs/Syn/web.xml#L47-L65

We could also have a second testing filter in the chain that would allow requests from localhost to be authenticated or something.

[2017-03-27 21:55] whikloj commented on #527
So now my tests are failing due to
[code]

That seems to be because the PlaceHolderResolver in typed_data expects the value to be text and we are sending an array
[code]
So nothing seems wrong, these tokens are correct. But the resolver can't process the replacement, so the rule fails and the test fails.

weird one.

[2017-03-27 22:59] DiegoPino commented on #527
@whikloj it feels hard to say, but rules and typed data are pretty much beta with some tastes of  Alpha, but so are we also, we have to live with it.
It does make me a bit nervous that typed data is not covered by Drupal's security adv. policy as stated in https://www.drupal.org/project/typed_data

Also: i thought there was a typo and a bug (says Mr. typo here)  in the spoy your test code was fail

[2017-03-27 23:02] DiegoPino commented on #527
@whikloj 👀
https://www.drupal.org/node/2824331
The Error you are seeing with a patch (exactly what I was suggesting!!) but never merged and already 5 months passed. What should we do?

[2017-03-28 13:03] dannylamb commented on #527
@DiegoPino @whikloj Have you considered applying the patch and seeing if it works?  If that fixes the testing issue, you should bump issue on Drupal.org and see if you can get some action.

[2017-03-28 14:02] jonathangreen commented on #527
@DiegoPino I think that we should be contributing back to Drupal modules anytime we can be. As part of the open source Drupal ecosystem, I think its important that we do so, and that we shepard our patches though review and get them landed in the appropriate modules. Especially now that we are trying to bring Islandora much more into the Drupal ecosystem. In this instance if there is an issue, and

[2017-03-28 14:12] dannylamb commented on #527
@jonathangreen Agreed.  And in many ways it's the path of least resistance and most karma to push changes upstream.  Certainly beats re-coding already existing functionality elsewhere, which may seem easier at the time, but incurs technical debt in the long term.

[2017-03-28 16:34] dannylamb commented on #527
FYI, there's a PR to address this in Github: https://github.com/fago/rules/pull/480

[2017-03-28 17:12] DiegoPino opened #575 "Add Xdebug to CLAW vagrant"
According to https://github.com/Islandora-CLAW/CLAW/wiki/Setting-up-CLAW-Vagrant-w-Xdebug

[2017-03-28 17:28] jyobb commented on #568
@dannylamb @ruebot I can take a crack at this. I will need some guidance on updating vagrant.  Once I'm done I should be able to do the other vagrant upgrade tickets.

[2017-03-28 18:31] dannylamb commented on #568
@jyobb Sounds great.  The easiest place to do this is probably at the end of https://github.com/Islandora-CLAW/claw_vagrant/blob/master/scripts/lamp-server.sh

Should be fairly straightforward to append that entry into `my.cnf` and then pass those privileges commands to mysql using the `-e` option.

If you comment out these lines https://github.com/Islandora-CLAW/claw_vagrant/blob/master/Vagrantfi

[2017-03-28 18:59] jonathangreen commented on #573
Although on second thought maybe exempting get requests as I mentioned above isn't the correct strategy because resources could have policies on them that restrict read access right? So we would want to authenticate against those.

Maybe in Syn we need to set the user to anonymous if they request is a get request and no header is set? Otherwise authenticate? Need to think about this one.

[2017-03-28 19:11] jonathangreen opened #576 "Add Amherst's image extension service to Vagrant"
This is part of this ticket:
https://github.com/Islandora-CLAW/CLAW/issues/572

And probably relates to this ticket:
https://github.com/Islandora-CLAW/CLAW/issues/573

In adding the Amherst [image extension](https://gitlab.amherst.edu/acdc/repository-extension-services/tree/master/acrepo-exts-image/src) service to our vagrant install, I tripped over a bit of a problem. Because we are using Syn to

[2017-03-28 19:22] DiegoPino commented on #576
@jonathangreen could `syn` have some sort of IP based allowance or white-listing? Managing authorization headers can become tricky if we depend on APIX for that.
Fedora already has a way of defering/refering "on behalf of" actions. It's the base of their Authz/ Authx model, separating authentication of authorization, roles and users and making use of WebACL. Not sure if we should go our way on thi

[2017-03-28 19:29] dannylamb commented on #576
@jonathangreen I'm leaning towards 1.  I would like consistency across all microservices, fedora, and Drupal.  And since this seems more like an AuthN thing than an AuthZ thing, I'd prefer we remain agnostic about WebACL on the underlying Fedora resource.

[2017-03-28 19:32] dannylamb commented on #573
Is there a way to not try validating tokens against GET requests and just fall back to basic auth or something?  That way some semblance of user / role is still around.

I'm not 100% on the interplay between various authentication filters on a servlet, though.

[2017-03-28 19:48] acoburn commented on #576
Why not just set the configuration values for `fcrepo.authUsername` and `fcrepo.authPassword` in the `$KARAF_HOME/edu.amherst.acdc.exts.image.cfg` or am I missing something?

[2017-03-28 20:05] jonathangreen commented on #576
@acoburn we are using [this repo](https://github.com/Islandora-CLAW/Syn) to do authentication against Fedora and as @dannylamb mentioned, hopefully in the future everything. It isn't using basic HTTP authentication, rather it is looking for a [JWT](https://jwt.io) set in the `Authorization` header of any requests it receives. Some more info on what we are doing in this ticket https://github.com/Is

[2017-03-29 11:48] jonathangreen commented on #573
The problem with falling back to something like basic auth is that it requires that we support sessions, which is kind of heavy to just allow developer access to fedora. It is possible though, if we want to enable sessions in tomcat.

Some options:
1. Fallback to basic auth.
2. Fallback to an IP filter, so say localhost would always be fedora admin. A bit dangerous though in the situation where ev

[2017-03-29 12:23] dannylamb commented on #573
After putting it that way, is this still viable?

[2017-03-29 12:28] jonathangreen commented on #573
Yup. I think something like that would be fairly easy to support.

[2017-03-29 12:37] acoburn commented on #576
@jonathangreen possibly? I don't have that use case, and it would add complexity to the image service (and all other such services), which I don't like. The work-around is also, arguably, quite simple -- do a HEAD request on Fedora for the resource, if it succeeds, run the service; otherwise don't.

[2017-03-29 12:42] jonathangreen commented on #576
@acoburn not sure if I follow you there. Everything in the fedora is behind this authentication scheme, so the head request would always fail...

[2017-03-29 12:44] acoburn commented on #576
@jonathangreen oh I see. Supporting arbitrary `Authorization` headers is most probably not going to happen.

[2017-03-29 12:50] acoburn commented on #576
To be clear about _why_ that is, consider this: `fcrepo-camel` would need to be substantially re-worked to support this, and someone would need to write a shim for use with `camel-http4` so that the headers would be passed on properly. Only then could the Amherst services make use of such flexible AuthN mechanisms. As it is, those options are not available.

[2017-03-29 12:58] jonathangreen commented on #576
Cool. Thanks @acoburn. Based on this I think I'm going to close this ticket, and look at other alternatives for our image service in #572.

[2017-03-29 12:58] #576 closed

[2017-03-29 13:05] jonathangreen opened #577 "Add image service"
Add a simple image manipulation web service that executes imagemagick on any image that gets POSTed to it. It should respect a header such as X-Islandora-Imagemagick-Args so you can pass in command line arguments.

Should be built on the same model as [hypercube](https://github.com/Islandora-CLAW/Hypercube).

[2017-03-29 13:09] jonathangreen commented on #577
Relates to #576

[2017-03-29 13:35] dannylamb opened #578 "Create API-X Silex middleware"
With both Hypercube and the pending image conversion service from https://github.com/Islandora-CLAW/CLAW/issues/577, we'll need to dust off Chullo and use it to grab a resource from Fedora and pass that as the request body to the underlying service.

Could probably be easily done as a `before` middleware in Silex.

[2017-03-29 13:38] dannylamb opened #579 "Consolidate Microservices Repositories?"
We should probably just go ahead and put all the microservices in one Github repository if possible.  They should each remain separate applications with their own configurations and deployment instructions, but live together for easier administrative overhead.

Maybe this is what Crayfish can be instead of web services around chullo?

[2017-03-29 14:07] #306 closed

[2017-03-29 14:09] dannylamb commented on #578
I already did it.  It's back.

[2017-03-29 14:11] dannylamb commented on #372
Close it.  If we need to revisit a particular facet of the discussion we can make a new issue.

[2017-03-29 14:12] #372 closed

[2017-03-29 14:12] #542 closed

[2017-03-29 14:22] DiegoPino commented on #421
@ruebot It's a discussion/question. Does discussing integration scenarios fit in CLAW's issue schema? if not then closing this issue seems fair. Can always post this stuff to the group list.

[2017-03-29 14:28] DiegoPino commented on #515
@ruebot not. Did not get feedback and it requires consensus.

Part of it is resolved via default XSD mapping to drupal types in
https://github.com/Islandora-CLAW/islandora/pull/33
And @whikloj https://github.com/Islandora-CLAW/islandora/pull/35

Closing. Seems like the discussion structure I was using does not work

[2017-03-29 14:28] #515 closed

[2017-03-29 14:30] #108 closed

[2017-03-29 14:31] DiegoPino commented on #364
@ruebot that is how media entities became part of CLAW. Does exploring it and integrating it means we are ready? not sure.  It is up to you.

[2017-03-29 14:36] #364 closed

[2017-03-29 14:40] #421 closed

[2017-03-29 14:43] dannylamb commented on #398
Closing.  I'm tired of designing in a vacuum on this one, and we can't even seem to get past basic CRUD without getting derailed.

We'll do just enough for MVP to get by and revisit this in earnest at a later date with more community involvement.

[2017-03-29 14:43] #398 closed

[2017-03-29 16:17] #410 closed

[2017-03-29 16:49] jyobb commented on #574
Yes.  I will do that ticket as well.

John

On Wed, Mar 29, 2017 at 8:03 AM, Nick Ruest <notifications@github.com>
wrote:

[2017-03-29 18:26] Natkeeran commented on #516
@ruebot I can contribute to Technology Stack documentation about Alpaca and Drupal.  Another major area is Fedora and API-X.

http://islandora-claw.github.io/CLAW/user-documentation/intro-to-claw/ does need to be updated.  The repo cleanup has helped.  This type of work is ongoing, so we can identify some specific tasks and after those are completed, we can close these tickets noting that this wor

[2017-03-29 18:32] dannylamb commented on #570
Turns out this isn't possible given the lifecycle of an `Exchange`.  They are created per consumer, so we'll actually lose the parsed properties as we go from route to route if they're not `direct`.  So looks like the best plan of attack is to create a shared EventProcessor that will get used by all the components, and be careful that we reset the message to the original so we can deliver the same

[2017-03-29 18:32] #570 closed

[2017-03-29 18:37] #349 closed

[2017-03-29 19:59] #563 closed

[2017-03-29 20:05] dannylamb commented on #568
FYI, the commad to verify that this works is `mysql -h 127.0.0.1 -u root -p` from the command line of the host machine.  Without the explicit -h, it doesn't seem to work.  It defaults to localhost, which for whatever reason it cannot resolve.

There's no place like `127.0.0.1`....

[2017-03-29 22:41] jyobb commented on #568
I have it working and am just doing a bit of testing now.  I'll issue a
pull request sometime tomorrow.

John

On Wed, Mar 29, 2017 at 2:05 PM, dannylamb <notifications@github.com> wrote:

[2017-03-30 12:46] pautri commented on #564
Our main reason for using "Externally Referenced Content" exclusively for all primary datastreams (OBJs) in a repository with about 100TB of data is to have more control over the directory structure, which is important to us for defining rules for an HSM storage system and because we are providing local read access to the same resources via Samba shares. We do however still want to provide access

[2017-03-30 13:00] dannylamb opened #581 "Align Chullo with Fedora API Spec"
Now that we're dusting off Chullo, we should do some gardening to put it in alignment with the Fedora API specs being worked on.  Though they are still works in progress, there are some things that are definitely going to happen and we should account for them.

- [x] Remove COPY
- [x] Remove MOVE
- [x] Rebrand transactions as atomic operations
- [x] Remove UUID utilities

[2017-03-30 13:10] whikloj commented on #347
I think we're probably better off to _not_ do this and work with the goal of clear separation that @acoburn mentions.

[2017-03-30 13:20] whikloj commented on #570
Wait, what are you saying here? That you can't have a simple shared pipeline that sets those 2 properties and then publishes to a user-defined recipient list?

[2017-03-30 13:24] whikloj commented on #581
Couple questions, should we just alter our COPY to be a PUT of an existing resource and alter our MOVE as a PUT and a DELETE (keeping in mind @acoburn's points from the CLAW call)?

[2017-03-30 13:28] acoburn commented on #581
@whikloj the question, I think, is whether the goal of Chullo is to be a "generic Fedora client" or whether it will introduce extra semantics. If the latter, then there is nothing wrong with adding extra features (e.g. COPY, MOVE), but if I were designing it, I'd leave those for some "higher-level client"; that is, make Chullo a generic Fedora client (and nothing more), and leave these other opera

[2017-03-30 13:57] dannylamb commented on #570
What I'm saying is up to each consumer to parse the AS2 event, and we can share code by using a shared processor.  Headers and message bodies will get passed between listeners, but not Exchange properties.  Each bundle creates a new Exchange when it starts to process a message.

[2017-03-30 14:03] dannylamb commented on #581
In the very least they should be removed from the FedoraAPI interface and implementation.  I'm inclined to ditch those operations entirely and stick to spec, but it's certainly open for discussion.

[2017-03-30 14:09] dannylamb commented on #570
It occurs to me that there's the option of adding the properties as headers, but we'd need to take care to make sure they get passed back along to every recipient in the list.   We often clobber all headers before making http requests so it'd just be convention to stash those headers as exchange properties and then put them back as headers at the end of the route.

[2017-03-30 14:11] dannylamb commented on #347
We don't have or need them.  They'd just be dangerously convienent, as @whikloj and @acoburn are suggesting.  I'd say close this issue.

[2017-03-30 14:12] #347 closed

[2017-03-30 14:12] DiegoPino commented on #564
Our use case is at METRO similar. We want to be able (we are moving to that now) to have our own long-term storage strategy, which involves:

- Multiple Terabytes and growing
- Our own selective checksumming strategy
- Our own selective backup strategies
- Our own workflow (move non-frequent access binaries to Glacier/similar cheap storage)
- heterogenous storage solutions (Local/remote/ cloud) an

[2017-03-30 14:37] dannylamb commented on #579
I've dredged up Crayfish.  I'll issue a PR and we can discuss from there.

[2017-03-30 14:41] whikloj commented on #570
Ok I see, I missed the part where the routes were in separate bundles. But that makes perfect sense.

[2017-03-30 15:55] jonathangreen commented on #564
The LYRASIS use case is very similar to what has been posted here already, but we would like to be able to use tiered storage so that:

- Infrequently used preservation masters end up in glacier or s3 infrequent access
- Infrequently used datastream content ends up in some middle tier (s3 or similar)
- Frequently accessed datastreams end up in in a fast tier of storage (or CDN etc)

I see external

[2017-03-30 17:33] dannylamb opened #582 "Add crayfish microservices to vagrant install"
Deploy as you would any other silex apps with Apache.  Add appropriate apache config and put the code in your webroot somewhere and run `composer install`.

[2017-03-30 18:36] dannylamb commented on #491
Closing this for now.  Moving towards explicitly providing bundle as a header instead of relying on an implicit convention.

[2017-03-30 18:36] #491 closed

[2017-03-30 18:42] dannylamb opened #583 "Add Kernel tests to claw-jsonld"
We recently removed the tests copy/pasted from the HAL module to keep Travis happy, but he would be even happier if there were real tests for serialization functionality.

This will involve setting up Kernel tests for the module, which requires meticulously combing through dependencies and required configuration/schemas.

Tests for deserialization functionality are out of scope for this issue and

[2017-03-30 20:14] dannylamb commented on #578
I'll tackle this so to unblock https://github.com/Islandora-CLAW/CLAW/issues/577

[2017-03-31 03:40] #557 closed

[2017-03-31 03:45] #579 closed

[2017-03-31 04:27] ruebot opened #584 "Update FITS"
Update FITS to 1.0.7

This should be a simple one:
* https://github.com/Islandora-CLAW/claw_vagrant/blob/master/configs/variables#L15

[2017-03-31 04:51] morrme commented on #584
just change that one line?

[2017-03-31 07:01] morrme commented on #584
@ruebot ah, i'm sorry, did not see the form, i will have to pass on this one.

[2017-03-31 13:41] #568 closed

[2017-03-31 16:39] #581 closed

[2017-03-31 16:45] dannylamb commented on #581
I have no intentions to start something like that.  It may grow organically from later work, but we sure don't have the cycles for that right now.

[2017-03-31 17:04] #566 closed

[2017-04-03 17:32] bryjbrown commented on #510
@ruebot Yep, @dannylamb set me straight on how things are now. I'm now on the Islandoracon Hackfest planning committee, and all the Hackfest project ideas have to do with CLAW. Having these documents ready before the Hackfest would be a major boon to all the folks who aren't familiar with CLAW but want to pitch in, so I'm setting a deadline for myself of May 1st so we have plenty of time to review

[2017-04-03 18:00] #574 closed

[2017-04-03 19:15] dannylamb opened #585 "Ignore vendor and .git directories in the line ending check"
Fallout from https://github.com/Islandora-CLAW/Crayfish-Commons/pull/1

Windows line endings in a third party library was causing travis to fail.  Update every .scripts/line_endings.sh file we've got to look like this: https://github.com/Islandora-CLAW/Crayfish-Commons/blob/master/.scripts/line_endings.sh#L4

[2017-04-03 19:59] jonathangreen commented on #585
I kind of wonder if we should be pulling these scripts from one central place to make updates like this easier. Either the Islandora module, or maybe the CLAW module?

[2017-04-04 02:08] dannylamb commented on #585
Indeed.

[2017-04-04 17:36] jonathangreen commented on #585
Added the scripts to the main CLAW repo. Once those are merged then need to update:

- [ ] https://github.com/Islandora-CLAW/Crayfish
- [ ] https://github.com/Islandora-CLAW/Crayfish-Commons
- [ ] https://github.com/Islandora-CLAW/claw-jsonld
- [ ] https://github.com/Islandora-CLAW/chullo
- [ ] https://github.com/Islandora-CLAW/islandora
- [ ] https://github.com/Islandora-CLAW/islandora_image
- [

[2017-04-04 17:36] jonathangreen commented on #585
Id anyone sees any missing let me know.

[2017-04-04 18:22] dannylamb opened #588 "Start the CLAW ontology"
Although I've recently pulled out everything that would need to be put into an ontology, i'm introducing a refinement to pcdm:hasFile that will require one.

There's a lot to getting one set up, but let's start wiht just the ontology file and we'll add the transforms and html machinery later.  This is just the start.

[2017-04-04 18:40] dannylamb commented on #588
@manez has mentioned that this repo should be named CLAWntology, which i heartily support.  Ima gonna close the existing PR, make a new repo, and re-issue the PR.

[2017-04-04 18:57] dannylamb commented on #588
THIS... IS... (CLAWNTOLOGY!!!!)[https://github.com/Islandora-CLAW/CLAWntology]

[2017-04-04 19:00] dannylamb commented on #585
Does Syn need this?

[2017-04-04 19:07] jonathangreen commented on #585
@dannylamb nope. none of the java repos really use the stuff in these scripts.

[2017-04-04 20:10] jonathangreen commented on #585
Looks like I'm still getting fails on the Crayfish repos.
https://travis-ci.org/Islandora-CLAW/Crayfish/jobs/218601570#L352-L354

I think the PR above should fix the issue. It'll also make sure nested composer repos won't cause issues.

[2017-04-04 21:11] dannylamb commented on #585
Merged. Let's wait until Crayfish passes before closing.

On Apr 4, 2017 5:11 PM, "Jonathan Green" <notifications@github.com> wrote:

[2017-04-04 22:02] jonathangreen commented on #585
This this really for reals can be closed now.

[2017-04-04 22:02] #585 closed

[2017-04-04 22:50] jonathangreen commented on #578
Resolved with:
https://github.com/Islandora-CLAW/Crayfish/commit/b1f46b30309763a0317b46b408069c75f29aa8fe

[2017-04-04 22:50] #578 closed

[2017-04-05 18:46] ruebot opened #590 "Add JWT to TravisCI environment"
See: https://github.com/Islandora-CLAW/islandora/pull/48#issuecomment-291957038

Blocker for https://github.com/Islandora-CLAW/islandora/pull/48

[2017-04-06 03:51] #584 closed

[2017-04-06 04:48] ruebot opened #592 "Clean-up claw-jsonld"
Digging into a build issue with [claw-jsonld](https://github.com/Islandora-CLAW/Crayfish/pull/20#issuecomment-292065626) causing the build to fail, and I'm noticing a number of basic issues that need to be addressed:

* https://github.com/Islandora-CLAW/claw-jsonld/blob/8.x-1.x/composer.json#L6-L10
  * Needs an Islandora Foundation owner added
* https://github.com/Islandora-CLAW/claw-jsonld/blob/8

[2017-04-06 11:43] DiegoPino commented on #592
Some general comments about the basic issues you detected: most of the things have been around for many months already or have nothing to do with this module failing. JSON-LD normalization and serialization for GET operations was/has been working all that time.

Fourth Question: `Drupal\jsonld` is the PHP namespace. Not sure if that line is pointing to your question if so, it points to this class

[2017-04-06 12:33] ruebot opened #593 "Chullo composer.json "issues" link wrong"
https://github.com/Islandora-CLAW/chullo/blob/master/composer.json#L7

Needs to be updated to: https://github.com/Islandora-CLAW/CLAW/issues

[2017-04-06 15:06] ruebot opened #594 "Update to Drupal 8.3.x"
We're pinned to 8.2.7 now due to some upstream issues. Once these are resolved, we should further investigate what else we need to do to upgrade.

See also:
* https://github.com/Islandora-CLAW/drupal-project/pull/12
* https://github.com/Islandora-CLAW/Crayfish/pull/20
* https://github.com/Islandora-CLAW/CLAW/issues/592
* https://github.com/Islandora-CLAW/islandora/pull/52

@Islandora-CLAW/committe

[2017-04-06 17:14] dannylamb commented on #594
Rules is probably the one we'll be waiting on.

[2017-04-06 18:58] whikloj commented on #592
👍  Change it, I've had that confuse me a couple times.

[2017-04-06 19:15] #577 closed

[2017-04-06 19:23] whikloj commented on #577
<img src="http://68.media.tumblr.com/fe69f5ccff71f501eb927f286bb08f7b/tumblr_mnq5gyl5zm1rob81ao5_r1_250.gif" alt="aPocceClips" />
Ninja'd by @ruebot

[2017-04-06 19:30] dannylamb commented on #590
Really just a duplicate of https://github.com/Islandora-CLAW/islandora/pull/48 because I had a momentary lapse of reason.

[2017-04-06 19:30] #590 closed

[2017-04-06 19:31] dannylamb opened #595 "Add logging to Hypercube and Gemini"
Inject the monolog service provider from Silex into the services when bootstrapping the application.

[2017-04-06 21:42] jonathangreen commented on #556
Resolved with https://github.com/Islandora-CLAW/islandora/commit/cfcc16e3376bbafb08ced7047dd56e30251da44d

[2017-04-06 21:42] #556 closed

[2017-04-07 17:45] dannylamb commented on #592
:+1: for changing the repo to `jsonld`

[2017-04-07 18:26] #592 closed

[2017-04-07 19:20] whikloj commented on #547
Leaving PATCH and json-ld tests and moving on to this now.

[2017-04-10 18:04] Natkeeran opened #596 "Moving JsonldContextGenerator to jsonld (claw-jsonld)"
JsonldContextGenerator is needed in the [jsonld](https://github.com/Islandora-CLAW/jsonld) (formerly claw-jsonld) module to get the bundle's context.  However, adding it as a dependency would require [islandora](https://github.com/Islandora-CLAW/islandora) module to be a dependency to jsonld.  As jsonld is already a dependency to islandora, @whikloj and @dannylamb suggested that a circular depende

[2017-04-10 18:45] #583 closed

[2017-04-11 15:59] jonathangreen commented on #573
Islandora-CLAW/Syn#6 is my attempt at making testing with Syn easier. It lets us have a static token that we can test etc with. Not sure if it hits all the needs of this ticket, but it should make things easier anyway.

[2017-04-11 18:39] jonathangreen commented on #565
https://silex.sensiolabs.org/doc/2.0/cookbook/guard_authentication.html

[2017-04-11 18:43] #490 closed

[2017-04-11 18:43] #549 closed

[2017-04-12 12:13] #593 closed

[2017-04-12 16:31] #588 closed

[2017-04-12 16:34] dannylamb opened #597 "Flush RDF to Fedora"
- [x] Add web service to Crayfish that pulls content from Drupal and add it to Fedora
- [ ] Add camel connectors to poke said web service in response to queue messages
- [x] Update Drupal rules actions to publish queue message in response to write operations

[2017-04-13 04:02] ruebot opened #598 "Update Syn configuration root element"
Update the Syn configuration root element to be `config` instead of `site`.

[Crayfish-Commons also need to be updated](https://github.com/Islandora-CLAW/Crayfish-Commons/pull/5).

[2017-04-13 14:33] whikloj opened #599 "Gemini doesn't handle leading slashes"
When testing Gemini I noticed that if your paths have a preceding slash they can be added but not queried.
For example
[code]

[code]

But
[code]

Or more directly
[code]

We should either deal with preceding slashes or throw an error when adding them.

Thoughts?

[2017-04-13 14:36] whikloj commented on #599
@ruebot oh maybe I didn't pull something in correctly?

[2017-04-13 14:38] whikloj commented on #599
@ruebot oh actually this wouldn't be that. This service never touches Fedora or Drupal, so Chullo wouldn't be involved.

[2017-04-13 14:43] whikloj commented on #599
It's right here https://github.com/Islandora-CLAW/Crayfish/blob/master/Gemini/src/app.php#L23-L26

[code]

But an `error_log()` inside the [getDrupalPath](https://github.com/Islandora-CLAW/Crayfish-Commons/blob/master/src/PathMapper/PathMapper.php#L50) function shows
[code]

That is stripping the front slash off, so when you get to the Path Mapping service you always get an item without a leading

[2017-04-13 14:44] whikloj commented on #599
Either that or always add one

[2017-04-13 14:52] dannylamb commented on #599
good catch @whikloj.  i'd sanitize input for consistency.  it think i'd always remove it, since the base url is supposed to end with a slash.

[2017-04-13 18:13] ruebot opened #600 "Remove triplestore client from Chullo"
Chullo is a client for Fedora, not Fedora and a generic triplestore.

[2017-04-13 18:21] jonathangreen commented on #594
I think this patch is what will need to land:
https://www.drupal.org/node/2849779

Just for reference.

[2017-04-13 18:32] dannylamb commented on #600
Yeah, that's left over from when we required a triplestore in 7.x-2.x.  Currently it is strictly optional to have one, and I think that's a huge win for us architecturally.

I'm glad this will live in history, though.  Guzzle and EasyRDF was a snazzy way of working with a 3-store, and folks may be back later to look up what we did.

[2017-04-13 18:38] #600 closed

[2017-04-13 18:47] dannylamb opened #601 "Merge Chullo and FedoraApi classes"
There's a lot going on wrong there, I think (stating that as the guy that made these decisions in the first place).  Now that I'm using this in practice, I find that the Chullo class isn't terribly useful because it only returns the body of the response.  I almost always need the headers and status code to make logical decisions.  Squashing errors and returning null is a bit confusing, too.  Also,

[2017-04-13 18:51] acoburn commented on #351
Closing this, as a GraphQL module already exists for Drupal, and there should be no need to write one ourselves.

[2017-04-13 18:51] #351 closed

[2017-04-13 19:19] Natkeeran opened #602 "jsonld - normalize - date format"
hal_json and json return date values as Unix-timestamp.  I.e below
[code]

jsonld returns the date values in different format.
[code]

Is this the expected behaviour?

This can cause an issue denormalize as denormalize generally expects a Unix-timestamp.

[2017-04-13 19:20] DiegoPino commented on #602
Expected.

[2017-04-13 19:20] whikloj commented on #602
I would say yes this is expected and we will need to handle it in the normalize/denormalize functions.

[2017-04-13 19:21] Natkeeran commented on #602
@DiegoPino @whikloj ok, please close the ticket.

[2017-04-13 19:22] #602 closed

[2017-04-13 21:20] whikloj commented on #601
To clarify the second paragraph there.

You want a function that accepts an [EasyRdf_Graph](http://www.easyrdf.org/docs/api/EasyRdf_Graph.html) and sends it to Fedora and one that retrieves a resource from Fedora as an EasyRdf_Graph?

[2017-04-14 13:35] dannylamb commented on #601
Not quite.

`public function createGraph($uri, \EasyRdf_Graph $graph, array $headers)` that returns a `Psr\Http\Message\ResponseInterface`

`public function saveGraph($uri, \EasyRdf_Graph $graph, array $headers)` that returns a `ResponseInterface`

`public function getGraph(ResponseInterface $response)` that returns an `EasyRdf_Graph`

I'm not sure if `getGraph` is the right name there.  Maybe `pa

[2017-04-15 01:14] acoburn opened #603 "Configuration in Crayfish"
The three services in Crayfish are configured with `config/cfg.php` files. While this certainly works, I wonder if it wouldn't be better to use a [Symfony interface](http://symfony.com/doc/current/components/config/definition.html) with a defined set of configuration values (with sensible defaults), and then allow users to set their own configuration via a simple YAML file.

If that's of interest,

[2017-04-15 01:31] DiegoPino commented on #603
Déjà vu @acoburn, its like time traveling. Crayfish had YAML file configuration loading a year and a few months ago. Same piece Jared added to your static ldp.

https://github.com/Islandora-CLAW/Crayfish/commit/6ef1b234beb15d50f0904cf4593e80ce2d3ac91b

That/or similar is more microservice friendly than the whole Symfony implementation (which is what drupal 8 uses), one of the reasons Silex is base

[2017-04-16 13:47] jonathangreen commented on #603
+1 for YAML config. I was thinking this should be a next step in Crayfish as well.

[2017-04-17 12:09] dannylamb commented on #603
:+1: sounds like a good improvement

[2017-04-17 13:40] jonathangreen commented on #603
@acoburn do you mind if I try this one? I was thinking about making the config we do in [`IslandoraServiceProvider.php`](https://github.com/Islandora-CLAW/Crayfish-Commons/blob/master/src/IslandoraServiceProvider.php) a bit more idiomatic by loading the config from the container itself. As part of that work I think it would be easy to add a YAML config.

[2017-04-17 13:44] acoburn commented on #603
@jonathangreen that's fine with me

[2017-04-17 18:31] dannylamb opened #604 "Push DoctrineServiceProvider into IslandoraServiceProvider"
I'll be using it in both Gemini and the upcoming fedora flushing microservice, so I oughta push registering that service provider inside IslandoraServiceProvider.

[2017-04-17 19:28] jonathangreen commented on #604
Resolved with:
https://github.com/Islandora-CLAW/Crayfish-Commons/commit/bdd33fb3766e3ab359009547dc4ead968edd574f

[2017-04-17 19:28] #604 closed

[2017-04-17 20:57] DiegoPino opened #605 "CLAW Drupal modules GPL2 to GPL3"
Not sure if this is a tasks, a question or just a comment. But on 7.x-1.x, we are under GPLV3, claw islandora's Drupal 8 modules (most) are under GPL2 which, even when correct according to Drupal https://www.drupal.org/about/licensing#q4, seems counterproductive because V3 fixes some loopholes according to http://www.ifross.org/en/what-difference-between-gplv2-and-gplv3. Maybe there is some reason

[2017-04-17 22:10] DiegoPino commented on #605
@ruebot thanks for clarifying that via Board of Directors meeting resolution. Won't fix does not apply because it was a question and well, islandora_collection was lacking a license.
@manez are the CLA institutions and/or individuals sign different from 7.x to CLAW? if GPLv3 discourages participation, then are we rolling back on 7.x on that? Or having separate CLAs?

[2017-04-17 22:21] #354 closed

[2017-04-17 22:22] #575 closed

[2017-04-17 22:29] manez commented on #605
@DiegoPino there's some language around patents in GPLv3 that has caused some delays or abstentions for cCLAs, with institutional legal departments. It's not such a big thing that the Board wanted to go back and work through redoing 7.x, if that's even possible at this point (with all of its inertia and history and us not having much in the way of resource for legal review), but since we have a ch

[2017-04-17 22:33] dannylamb commented on #605
Reopening until the pull on islandora_collection is merged

[2017-04-17 23:08] DiegoPino commented on #605
That clarifies a lot and thanks for the detailed explanation. The reason i opened this issue was because i was reviewing licences today in one of my other projects  (run `composer licenses` on a deployed drupal-project and be amazed) and saw a huge mix of MIT, BSD and GPL2 plus and even Apache 2 (stomp) licences.
Seems like Drupal handles some of the issue issues by defining a Licence under GPL th

[2017-04-18 00:51] #595 closed

[2017-04-18 14:55] #605 closed

[2017-04-19 16:37] ddavis opened #606 "Integrate an extended permissions framework with CLAW to support collaborative applications"
Out of the box Drupal supports a roles-based permissions framework that is well integrated with other Drupal modules.  This has proven inadequate for highly collaborative applications leading to the development of extended Drupal permissions modules such as Organic Groups and Groups. To support such applications CLAW needs an integration of an off-the-shelf extended Drupal permissions module that

[2017-04-19 16:41] whikloj commented on #603
@jonathangreen has completed some nice work around a Yaml config for Crayfish microservices, but the question I and @acoburn had raised was whether the Symfony ConfigurationInterface would not be a better choice for handling our configuration.

@jonathangreen described his position [here on his PR](https://github.com/Islandora-CLAW/Crayfish-Commons/pull/8#issuecomment-294805440).

I think my conce

[2017-04-19 18:39] ajs6f commented on #360
I'd be happy to cut on this ticket, but it's not clear to me what the product is. Is what's desired some kind of comparison between D8 and some other system?

[2017-04-19 18:48] manez commented on #360
@ajs6f it's a holdover from when we still had regular sprints, to have a ticket in for people who were joining to learn & research rather than output. Might be time to close it out, since it doesn't really fit how we're operating now.

[2017-04-19 18:50] ajs6f commented on #360
Awesome! I feel like I'm contributing already-- I've just caused a ticket to be closed!

[2017-04-19 18:51] #360 closed

[2017-04-19 20:12] ajs6f commented on #504
That looks vaguely like a provisioning problem, like the `camel-jms` feature wasn't getting loaded or something. But that would seem really weird.

[2017-04-19 20:16] ajs6f commented on #597
Newbie question: where will the queue that the Drupal rules emits into live? Is that a Drupal function that persists into the main Drupal db? Or can it reuse AMQ or other central messaging plant?

[2017-04-19 20:25] #582 closed

[2017-04-19 21:08] whikloj commented on #597
I didn't think Drupal came with a queue out of the box. But I know that this can be configured to re-use any existing messaging plant that supports Stomp. The broker URL is definitely configurable under the [base Islandora configuration](https://github.com/Islandora-CLAW/islandora/blob/8.x-1.x/src/Form/IslandoraSettingsForm.php#L43-L47) screen and the queues for the various rules events that are e

[2017-04-19 23:06] ajs6f commented on #597
Okay, cool, then the flexibility is there. I will read further and see if I can figure out whether the Karaf AMQ facility is being used for this.

[2017-04-20 01:29] whikloj commented on #603
@acoburn could you look at allowing for any and all possible [Doctrine DBAL configuration options](http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html). At the very least I am thinking about setting up some functional tests using a sqlite in-memory (non-persistent) database so I would need it to respect the `memory: (boolean)` parameter.

[2017-04-20 02:38] whikloj opened #608 "Remove use of withName() method"
We are currently using Monolog and we may never switch to an alternate logger, but if we stick to the [PSR-3](http://www.php-fig.org/psr/psr-3/) methods then this should be possible.

I've only seen 3 uses of the [`withName()`](https://github.com/Seldaek/monolog/blob/master/src/Monolog/Logger.php#L160-L166) function which does not appear to be part of the PSR-3 spec.

Not sure if we should impleme

[2017-04-20 12:56] acoburn commented on #603
@whikloj this is an excellent idea.

This does raise the question of default values -- should there be a default database configuration? If we want to support all of these configurations, I am leaning toward _not_ having a complete set of default values. Thoughts?

[2017-04-20 13:20] acoburn commented on #603
As per http://symfony.com/doc/current/best_practices/configuration.html, I plan to split out the db configuration into separate files (`./config/parameters.yml`) and put the microservice configuration in `./config/config.yml` files.

[2017-04-20 13:21] acoburn commented on #603
Also, (sorry @jonathangreen) but I will be removing a lot of the code that was merged recently related to configuration.

[2017-04-20 13:47] jonathangreen commented on #603
No worries. Remove away.

I will say that I am of the opinion that `IslandoraServiceProvider` should load its configuration from the container, as other service providers do, and whatever you do for configuration should load the configuration into the container, where it can access it. So that 'IslandoraServiceProvider` is decoupled from configuration, but I may be in the minority in this opinion.

[2017-04-20 13:50] acoburn commented on #603
@jonathangreen what I have in mind is that the `IslandoraServiceProvider` will be configured like this:

    $app->register(new IslandoraServiceProvider(), ["crayfish" => $config]);

Where the `$config` is what gets loaded from the various configuration files + any defaults. That way, most of what currently exists in `IslandoraServiceProvider` will remain, but we can remove the whole Yaml configur

[2017-04-20 13:53] jonathangreen commented on #608
I added the `->withName()` because it makes the logs easier to read when you have a lot of debugging in your logs. If we don't care about that we can just remove the `->withName()` call and log in the same namespace.

[2017-04-20 14:05] jonathangreen commented on #594
FYI: That issue was merged. So we could probably attempt this again when we find the cycles for it.

[2017-04-20 14:05] whikloj commented on #603
@acoburn I'm not sure, perhaps we should consider using something like the [environment configuration](http://symfony.com/doc/current/configuration/environments.html) instead? Then we can set the environment different? Maybe that absolves us of having to account for any and all DBAL values?

[2017-04-20 14:06] jonathangreen commented on #603
@acoburn that seems reasonable to me.

[2017-04-20 14:23] jonathangreen commented on #594
I do not believe so. That would require https://github.com/fago/rules/pull/480 to be merged. This just allows rules to work under Drupal 8.3.

[2017-04-21 19:41] whikloj commented on #573
This might just be me, but can we set that auth header in a browser? Currently I'm using curl or Postman to watch Fedora for new resources. Its not horrible, but it is easier to use the HTML UI if we can access it

[2017-04-21 19:43] whikloj commented on #565
Is this still open because we want to build the guard authentication class @jonathangreen mentioned above? I'll take a look at it if we do, otherwise this could be closed I think.

[2017-04-21 19:45] whikloj commented on #287
I'm wondering if this might close this ticket out?
https://github.com/Islandora-CLAW/CLAW/wiki/Setting-up-CLAW-Vagrant-w-Xdebug

[2017-04-21 19:55] jonathangreen commented on #573
I'm setting headers with the `ModifyHeader` extension in Firefox. Not ideal, but it does work.

Could definitely be made easier, maybe as @dannylamb suggested with the anonymous user, or some other form of password authentication.

[2017-04-21 19:58] jonathangreen commented on #565
I'd say its addressed. The class I made is based on guard authentication. I'll close it.

[2017-04-21 19:58] #565 closed

[2017-04-21 20:53] #601 closed

[2017-04-24 21:39] whikloj commented on #598
I think this can be closed now.

[2017-04-24 21:40] #598 closed

[2017-04-24 21:42] ajs6f commented on #504
Pinging @emetsger and @birkland on this-- before I launch into it, does this look familiar at all? Any thoughts?

[2017-04-25 17:56] dannylamb opened #609 "Update Vagrant environment to adapt to recent changes"
- [x] Update `configs/syn-settings.xml` root element to be 'config' instead of sites
- [x] Deploy config files by copying `config.example.yaml` to `config.yaml` in `scripts/crayfish.sh`
- [x] Update seds in `scripts/crayfish.sh` to work on new yaml config files
- [x] Add milliner to `scripts/crayfish.sh` and an entry in `configs/001-crayfish.conf`

[2017-04-25 19:15] birkland commented on #504
Hi all, I've been on the road, and now don't have internet at the moment
except for my phone.  Will try installing in Karaf by hand once I'm up and
running again.

One class of messages (looking for container, adding, etc) are due to API-X
being unable to contact Fedora.  It just infinitely tries to verify that
various registry containers are present.  If you start API-X in isolation,
it will keep

[2017-04-25 19:29] ajs6f commented on #504
Thanks, @birkland! I agree that `camel-jms` should just be pulled in, and if it weren't, other people should be seeing this kind of thing. So maybe somehow the bundles in `camel-jms` or bundles on which it relies aren't getting installed in this particular situation for some weird reason?

As for the other messages, that seems to imply that either Fedora isn't starting (which seems unlikely) or th

[2017-04-25 20:34] birkland commented on #504
I've found a lot of quirkiness in how Karaf provisions things; it's really
hard to track down where things go wrong.  Unfortunately, I have not been
able to try/reproduce this.

As far as the other messages, yes it may be misconfigured.  In
org.fcrepo.apix.jena.cfg, use the properties registry.{extension, ontology,
service}.ldp.container to specify the URIs to containers in Fedora.  If the
contain

[2017-04-25 21:41] ajs6f commented on #504
Okay, thanks @birkland, those are some good pointers. I'll carry on.

[2017-04-25 21:45] birkland commented on #504
If you have any suggestions for simplification, please pass them along.
What is there right now might be redundant in a few areas, or hard to
follow.  A clean up might be worthwhile.  What's there right now largely
bakes blueprint happy, without much regard to the humans.

On Apr 25, 2017 5:42 PM, "A. Soroka" <notifications@github.com> wrote:

[2017-04-25 23:30] ruebot opened #610 "Milliner tests"
A couple Milliner files are lacking test coverage:
* [`Milliner/src/Converter/DrupalEntityConverter.php`](https://codecov.io/gh/Islandora-CLAW/Crayfish/src/master/Milliner/src/Converter/DrupalEntityConverter.php)
* [`Service/MillinerService.php`](https://codecov.io/gh/Islandora-CLAW/Crayfish/src/master/Milliner/src/Service/MillinerService.php)

Let's figure out what actually needs to be tested, an

[2017-04-26 12:17] dannylamb opened #611 "Convert Hypercube and Houdini to respect Apix-Ldp-Resource header"
Relevant reading: https://github.com/fcrepo4-labs/fcrepo-api-x/blob/master/src/site/markdown/execution-and-routing.md#endpoint-example

When Api-X will foward a request to a microservice, it will enrich the message with an Apix-Ldp-Resource header.  Instead of reading in the path from the url and combining that with the Fedora base url, we should simply use this header provided by Api-X in Hypercu

[2017-04-26 12:25] whikloj commented on #504
Hey!

I am getting this exact problem on a Islandora 1.X camel route I've been
writing.

I think it might have to do with camel and activemq version issues.

I haven't solved this in my route, but I'll add some info I found later.

On 25 Apr 2017 4:45 p.m., "Aaron Birkland" <notifications@github.com> wrote:

[2017-04-26 12:37] dannylamb opened #612 "Add Rdf Descriptions of Houdini and Hypercube to Fedora"
Relevant reading: https://github.com/fcrepo4-labs/fcrepo-api-x/blob/master/src/site/markdown/extension-definition-and-binding.md#examples and https://github.com/fcrepo4-labs/fcrepo-api-x/blob/master/src/site/markdown/service-discovery-and-binding.md#example-ldp-service-instance-registry.

Those links skip to the example sections, but the entire documents are relevant if you're seeking more context

[2017-04-26 12:54] dannylamb commented on #504
I've experienced it too when working working on a local Karaf before sending to the one in Vagrant.  Even with the camel-jms feature, the activemq feature fails to really activate, despite saying so.

I'm pretty sure we should try as @acoburn has suggested [here](https://github.com/fcrepo4-labs/fcrepo-api-x/issues/106#issuecomment-280418006) and see if that resolves it.

[2017-04-26 13:12] birkland commented on #504
I'm about to try doing this locally, and will verify that Docker still builds a working image.   Is there anything else you're adding to Karaf, or is it just API-X?

[2017-04-26 13:18] dannylamb commented on #504
@ruebot Sorry bout that.  I misunderstood the lengthy upscroll on this issue.

@birkland We're also adding some Amherst extensions as well as Alpaca, but you can verify this in isolation using anything with fcrepo-service-activemq.

[2017-04-26 13:27] dannylamb opened #613 "Remove Amherst extensions from Vagrant install"
We're using Gemini for path mapping and Houdini for images, so we can get remove the Amherst extensions from the Vagrant install

- [ ] Delete https://github.com/Islandora-CLAW/claw_vagrant/blob/master/scripts/islandora-karaf-components.sh#L12-L20
- [ ] and https://github.com/Islandora-CLAW/claw_vagrant/blob/master/configs/karaf/alpaca.script#L13-L16
- [ ] and https://github.com/Islandora-CLAW/cla

[2017-04-26 14:44] whikloj commented on #504
This is what I found and am since trying downgrading ActiveMQ in my app.
https://issues.apache.org/jira/browse/CAMEL-10405?focusedCommentId=15595258&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-15595258

[2017-04-26 15:00] DiegoPino commented on #504
@whikloj could it be the missing/explicit connection factory? according to this
http://camel.465427.n5.nabble.com/camel-2-18-activemq-not-working-under-karaf-td5789455.html

And API-X does https://github.com/fcrepo4-labs/fcrepo-api-x/blob/551969ca50394035e4a64b2ff554ea85f4ac90e4/proof-of-concept/indexing-triplestore/src/main/resources/applicationContext.xml#L9-L11

[2017-04-26 15:06] dannylamb commented on #504
@DiegoPino We are using fcrepo-service-activemq, which uses a connection factory. https://github.com/fcrepo4-exts/fcrepo-camel-toolbox/blob/master/fcrepo-service-activemq/src/main/resources/OSGI-INF/blueprint/blueprint.xml

[2017-04-26 15:32] dannylamb commented on #504
@whikloj Hrm... the link you found seems to be for running an embedded broker in Karaf, which is ideally what we'd be doing.  But we're being lazy and using the embedded broker in fcrepo, which does seem to be working somehow.  Still, if you attempt the downgrade, I'm curious to know what your results are.

We're unfortunately stuck wtih Camel 2.18+ for fcrepo-camel and the bits of fcrepo-camel-to

[2017-04-26 15:49] dannylamb commented on #609
Many thanks @whikloj!

[2017-04-26 15:49] #609 closed

[2017-04-26 16:05] whikloj commented on #504
@dannylamb yeah I'll let you know. My love of Camel is tempered by my hate...also for Camel 😄

[2017-04-26 16:10] birkland commented on #504
OK, I was able to get everything up and running by hand in Karaf; running against a separate fedora.  It worked; no jms issue or configuration issues.  Here's what I did.

- Download Karaf 4.0.9.  The 4.1 series is untested
- Copy the contents of [fcrepo-api-x-demo/apix/0.2.0/cfg/](https://github.com/fcrepo4-labs/fcrepo-api-x-demo/tree/master/apix/0.2.0/cfg) to karaf's etc directory
  - I did that

[2017-04-26 17:04] bryjbrown commented on #613
I'll take this one, looks about my speed :)

[2017-04-26 17:59] dannylamb commented on #613
@bryjbrown I just edited in a fourth chunk of lines to remove.

[2017-04-26 18:30] kimpham54 commented on #265
I was reviewing this ticket and wanted to provide an update on versioning with github pages.
@ruebot referenced this ticket https://github.com/mkdocs/mkdocs/issues/193 earlier in the conversation, which is not yet resolved. The versioning feature based on github tags works with readthedocs, however readthedocs only supports sphinx and its own flavour of mkdocs (not compatible with newer versions o

[2017-04-26 19:49] manez commented on #265
@ruebot we can always suggest it for a topic 👍

[2017-04-26 22:01] whikloj commented on #611
Soooo this might be a good place for a couple questions and to reveal my lack of grasp of API-X.

To start, would Houdini and Hypercube be [Resource scope services](https://github.com/fcrepo4-labs/fcrepo-api-x/blob/master/src/site/markdown/uris-in-apix.md#resource-scoped-services)?

[2017-04-27 15:28] dannylamb commented on #504
@ajs6f According to Claus in a Jira issue that @whikloj provided we can't run a ActiveMQ in Karaf and use Camel 2.18+.

Maybe just do an `apt-get install activemq` to run it as a service if you want to break it out?

[2017-04-27 15:28] ajs6f commented on #612
This is blocked by https://github.com/Islandora-CLAW/CLAW/issues/504 , right?

[2017-04-27 15:29] ajs6f commented on #504
@dannylamb Oops, didn't catch that. I will investigate and if I can't see a tighter workaround, then yes, I would propose a process-independent broker.

[2017-04-27 15:35] dannylamb commented on #612
Loosely.  You can do the work no problem, but verifying API-X picks up the service can't happen until #504

[2017-04-27 15:37] ajs6f commented on #612
Okay, cool, unless anyone wants this particularly, I will push through https://github.com/Islandora-CLAW/CLAW/issues/504 and then turn to this real quick (which should be quick once we have a nicely-integrated "Lion Force Voltron"-style CLAW/API-X Vagrant.

[2017-04-27 15:38] birkland commented on #504
So far, the incompatibilities between ActiveMQ and Camel 2.18+ in Karaf seem to be fairly benign.  See:
https://github.com/fcrepo4-labs/fcrepo-api-x/issues/94

So consuming from ActiveMQ 5.14 + Camel 2.18 works OK (albeit with some exceptions that don't seem to have any observable effect).  I've never attempted to put a broker in Karaf, but I don't see any reason why It wouldn't work.  The incompa

[2017-04-27 15:42] ajs6f commented on #504
Well, @davsclaus was pretty firm about it in [that Camel ticket](https://issues.apache.org/jira/browse/CAMEL-10405) and no one would know better than he, but [the email](http://camel.465427.n5.nabble.com/camel-2-18-activemq-not-working-under-karaf-td5789455.html) @DiegoPino uncovered does seem to imply, as you say, that AMQ5.14-in-Karaf can support Camel 2.18. I think I will have to just stick my

[2017-04-27 15:46] ajs6f commented on #504
@ruebot You didn't end up with a branch for this, right? You were just working off of a clean `master` vagrant and manually trying to get API-X into the runtime, right?

[2017-04-27 15:55] whikloj commented on #504
The issue I have is less about the broker being inside Karaf and more about using `camel-jms` and ActiveMQ together inside karaf.
ie. this is what fails consistently
https://github.com/whikloj/islandora-1x-derivative-toolkit/blob/master/islandora-1x-gatekeeper/src/main/resources/OSGI-INF/blueprint/blueprint.xml#L36-L39